$animation-background: #58D5D3;
$animation-palette: #F8D5F0, #41A4C3, #3F4B83;

$small-circles: generate-items(1000, $animation-palette);
$medium-circles: generate-items(750, $animation-palette);
$large-circles: generate-items(200, $animation-palette);

#landing {
  background-color: $light-grey;
  margin: 0;

  h1, h2, h3, h4 {
    color: $white;
    text-shadow: 0px 1px rgba(255,255,255,0.5);
  }

  .landing-container {
    @include parallax();
    @include slight-inset-shadow();
    background-size: cover;
    display: flex;
    font-size: 1.4em;
    top: 0;
    bottom: 0;
  }

  .landing-text-overlay {
    position: absolute;
  }

  .landing-0 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-1.jpg);
    background-position: 75% 30%;
    justify-content: flex-end;

    .landing-text-overlay {
      right: 0;
      text-align: right;
    }
  }

  .landing-1 {
    background-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 100%), url(img/landing-2.jpg);
    background-position: 100% 50%;
    justify-content: flex-end;
  }

  .landing-2 {
    background-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(64,64,64,0.1) 100%), url(img/landing-3.jpg);
    background-position: 50% 90%;
    align-items: center;

    .landing-text-overlay {
      bottom: 0;
      text-align: center;
    }
  }

  .landing-3 {
    background-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(64,64,64,0.1) 100%), url(img/landing-4.jpg);
    background-position: 57% 50%;
  }

  .landing-4 {
    background-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(64,64,64,0.1) 100%), url(img/landing-5.jpg);
    background-position: 80% 50%;
    justify-content: flex-end;
  }

  .landing-5 {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-6.jpg);
    background-position: 50% 85%;
  }

  .landing-6 {
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 33%, rgba(64, 64, 64, 0.5) 100%), url(img/landing-7.jpg);
    background-position: 40% 50%;
    justify-content: flex-end;

    .landing-text-overlay {
      right: 0;
      text-align: right;
    }
  }

  .landing-7 {
    background-image: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(64,64,64,0.1) 100%), url(img/landing-8.jpg);
    background-position: 70% 50%;
  }

  @media #{$phone}, #{$tablet} {
    text-align: center;

    img {
      margin: 0;
    }

    h3 {
      padding-bottom: 50px;
    }

    .landing-0 {
      text-align: left;

    }

    .landing-1 {
      background-position: 72% 85%;
      justify-content: flex-start;
      text-align: left;
    }

    .landing-2 {
      .landing-text-overlay {
        top: 0;
      }
    }

    .landing-3 {
      background-position: 80% 50%;
    }

    .landing-4 {
      background-position: 80% 50%;
      justify-content: flex-start;
      text-align: left;
    }

    .landing-5 {
      background-position: 60% 50%;
      justify-content: flex-start;
    }

    .landing-6 {
      background-position: 30% 50%;
      justify-content: flex-start;
    }

    .landing-7 {
      justify-content: flex-end;
      text-align: left;
    }
  }

  @media #{$phone} {
    .landing-0 {
      background-position: 70% 30%;
      text-align: left;
    }

    .landing-2 {
      font-size: 1.2em;
      justify-content: flex-start;
    }

    .landing-3 {
      background-position: 83% 50%;
      justify-content: flex-end;
    }

    .landing-4, .landing-6 {
      font-size: 1.2em;
    }

    .landing-5 {
      font-size: 1.1em;
    }

    .landing-7 {
      background-position: 80% 50%;
    }
  }

  @media #{$tablet} {
    .landing-2 {
      justify-content: center;
    }

    .landing-3 {
      .landing-text-overlay {
        text-align: left;
      }
    }

    .landing-7 {
      background-position: 70% 50%;
      justify-content: flex-end;
      text-align: left;
    }
  }
}
