$animation-background: #58D5D3;
$animation-palette: #F8D5F0, #41A4C3, #3F4B83;

$small-circles: generate-items(1000, $animation-palette);
$medium-circles: generate-items(750, $animation-palette);
$large-circles: generate-items(200, $animation-palette);

#landing {
  height: 500px;
}
