.Experience {
  justify-content: center;

  .Experience__Company-Cell {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-height: 50%;
    max-width: 33%;
    min-width: 33%;

    @media #{$phone} {
      max-height: 20%;
      min-height: 20%;
      max-width: unset;
      min-width: unset;
    }

    @media #{$tablet} {
      max-height: 33%;
      min-height: 33%;
      max-width: 50%;
      min-width: 50%;
    }
  }

  .Experience__Company-Container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    height: 80%;
    width: 85%;

    transition: box-shadow 0.25s ease-in;

    background-color: turquoise;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 22px 6px #f4f4f4;
    box-shadow: 0px 0px 22px 6px #f4f4f4;
    cursor: pointer;
    overflow: hidden;

    @media #{$tablet} {
      flex-direction: column;
    }

    .Experience__Company-Container__Description {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      height: 45%;
      width: 0;

      color: $white;
      font-size: 1.2em;
      overflow: hidden;
      white-space: nowrap;

      z-index: 1;

      transition: width 0.15s ease-out, height 0.15s ease-out;

      @media #{$tablet} {
        align-items: center;
        font-size: 1.5em;
        height: 0;
        width: 40%;
      }
    }
  }

  .Experience__Company-Container--transition {
    transition: transform 0.25s linear;
  }

  .Experience__Company-Container--selected {
    .Experience__Company-Container__Description {
      width: 40%;

      @media #{$tablet} {
        height: 40%;
      }
    }
  }

  .Experience__Company-Container:hover {
    --xPercent: 1;
    --yPercent: 1;
    transform: perspective(1000px) rotateZ(calc(var(--yPercent) * 4deg)) rotateY(calc(var(--xPercent) * 14deg)) scale3d(1,1,1);

    box-shadow: 0px 0px 22px 6px #e4e4e4;
  }

  .Experience__Company-Container.intercom {
    background: black;
  }

  .Experience__Company-Container.mastercard {
    background: linear-gradient(180deg, #FCE38A 0%, #F38181 100%);

    .Experience__Company-Container__Description {
      @media #{$phone} {
        font-size: 0.9em;
      }
    }
  }

  .Experience__Company-Container.stripe {
    background-color: #a95eff;
  }

  .Experience__Company-Container.tines{
    background: #8578E6;
  }

  .Experience__Company-Container.twitter {
    background: rgba(29,161,242,1);
  }

  canvas {
    position: absolute;
    height: 25vh;
  }

  img {
    width: 50%;
    height: 50%;
    z-index: 1;
  }

  #gradient-canvas-stripe {
    width:100%;
    height:100%;
    --gradient-color-1: #a95eff;
    --gradient-color-4: #6E40AA;
    --gradient-color-3: #5DADFB;
    --gradient-color-2: #f88a4a;
    border-radius: 25px;
  }
}
