$amdocs-background: $medium-grey;
$intercom-background: #326BFF;
$mastercard-background: #5b6770;
$newbay-background: #f7980b;
$stripe-background: #537cec;
$twitter-background: #2bafe9;

.experience {
  @include parallax();
  @include slight-inset-shadow();

  background-color: $stripe-background;
  // background-image: url(img/stripe_background.svg);
  background-position: center center;
  background-size: 50%;
  color: $white;
  padding: 5px 30px;
  transition: background-color ease-in-out 0.3s;

  @include browser(Android,iPhone,iPad) {
    background-image: none;
  }

  @mixin experience-text {
    color: $white;
    margin-left: 0;
    text-align: left;
  }

  h3, h4, h5  {
    @include experience-text();
    font-weight: 500;
  }

  p {
    @include experience-text();
    font-weight: 100;
  }

  h3 {
    margin-top: 40px;
  }

  h4 {
    font-size: 0.9em;
    margin-top: 5px;

    .fas {
      margin-left: 5px;
    }
  }


  h5 {
    font-size: 1.1em;
  }

  .experience-footer {
    color: $white;
    font-size: 1.2em;
    margin: 50px 0;
    text-align: center;
  }

  .experience-job {
    margin-bottom: 20px;

    sub {
      &:after {
        content: ", "
      }
    }

    sub:last-of-type {
      &:after {
        content: ""
      }
    }

    .experience-job-company {
      display: flex;
      align-items: center;

      img {
        display: none;
        height: 40px;
        margin-left: 15px;
        vertical-align: middle;

        // Because of batched scroll updates these browsers will not support
        // the background image changing on scroll. So we show the company
        // logo beside the name.
        @include browser(Android,iPhone,iPad) {
          display: inline;
        }
      }
    }
  }

  #stripe {
    img {
      height: 70px;
    }
  }
}

.intercom {
  background-color: $intercom-background;
  // background-image: url(img/intercom_background.svg);
}

.mastercard {
  background-color: $mastercard-background;
  // background-image: url(img/mastercard_background.svg);
}

.twitter {
  background-color: $twitter-background;
  // background-image: url(img/twitter_background.svg);
}
