#experience {
  h3, h4  {
    font-weight: 500;
    margin-left: 0;
  }

  h4 {
    font-size: 1.4em;
  }

  h5, p {
    display: none;
  }

  .experience-footer {
    font-size: 1.2em;
    margin-top: 50px;
    text-align: center;
  }
}