$amdocs-background: $medium-grey;
$ibm-background: #1e4b60;
$mastercard-background: #5b6770;
$newbay-background: #f7980b;
$stripe-background: #53f;
$twitter-background: #2bafe9;

.experience {
  @include parallax();
  @include slight-inset-shadow();

  background-color: $twitter-background;
  background-image: url(img/twitter_background.svg);
  background-position: center center;
  background-size: 50%;
  color: $white;
  padding: 5px 30px;
  transition: background-color ease-in-out 0.3s;

  @include browser(Android,iPhone,iPad) {
    background-image: none;
  }

  @mixin experience-text {
    color: $white;
    margin-left: 0;
    text-align: left;
  }

  h3, h4, h5  {
    @include experience-text();
    font-weight: 500;
  }

  p {
    @include experience-text();
    font-weight: 400;
  }

  h3 {
    margin-top: 40px;
  }

  h4 {
    font-size: 1.4em;
  }


  h5 {
    font-size: 1.1em;
  }

  .experience-footer {
    color: $white;
    font-size: 1.2em;
    margin: 50px 0;
    text-align: center;
  }

  .experience-job {
    sub {
      &:after {
        content: ", "
      }
    }

    sub:last-of-type {
      &:after {
        content: ""
      }
    }

    .experience-job-company {
      display: flex;
      align-items: center;

      img {
        display: none;
        height: 40px;
        margin-left: 15px;
        vertical-align: middle;

        @include browser(Android,iPhone,iPad) {
          display: inline;
        }
      }
    }
  }
}

.ibm {
  background-color: $ibm-background;
  background-image: url(img/ibm_background.svg);
}

.mastercard {
  background-color: $mastercard-background;
  background-image: url(img/mastercard_background.svg);
}

.stripe {
  background-color: $stripe-background;
  background-image: url(img/stripe_background.svg);
}
