@charset "UTF-8";
a, button {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
  color: #686868;
  margin: 20px;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  margin: 20px;
  text-align: center;
}

.Section {
  color: #686868;
  font-size: 1.2em;
}

.dev-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .dev-grid {
    flex-direction: column;
    flex-wrap: inherit;
  }
}

.dev-grid-half {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .dev-grid-half {
    flex-direction: column;
    flex-wrap: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .dev-grid-half {
    height: 100vh;
  }
}

.dev-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-image: repeating-linear-gradient(-16deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(74deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(164deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(254deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px);
  background-size: 0px 100%, 100% 0px, 1px 110%, 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
  overflow: hidden;
}
.dev-grid-cell .dev-grid-measurement-right {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  right: -10px;
  transform: rotate(270deg);
}
.dev-grid-cell .dev-grid-measurement-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  left: -10px;
  transform: rotate(90deg);
}
.dev-grid-cell .dev-grid-measurement-bottom {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  bottom: 5px;
}
.dev-grid-cell .dev-grid-measurement-top {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  top: 5px;
  transform: rotate(180deg);
}
.dev-grid-cell .dev-grid-margin-top-left-corner-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell .dev-grid-margin-middle-left-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell .dev-grid-margin-bottom-left-corner-down {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
}
.dev-grid-cell .dev-grid-margin-center-up {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
}
.dev-grid-cell .dev-grid-margin-between {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell .dev-grid-measurement-right::after, .dev-grid-cell .dev-grid-measurement-right::before,
.dev-grid-cell .dev-grid-measurement-left::after, .dev-grid-cell .dev-grid-measurement-left::before,
.dev-grid-cell .dev-grid-measurement-top::after, .dev-grid-cell .dev-grid-measurement-top::before,
.dev-grid-cell .dev-grid-measurement-bottom::after, .dev-grid-cell .dev-grid-measurement-bottom::before {
  content: "—";
  opacity: 0.5;
}
.dev-grid-cell .dev-grid-margin-top-left-corner-left:after, .dev-grid-cell .dev-grid-margin-top-left-corner-left:before,
.dev-grid-cell .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-cell .dev-grid-margin-bottom-left-corner-down:before,
.dev-grid-cell .dev-grid-margin-center-up:after, .dev-grid-cell .dev-grid-margin-center-up:before,
.dev-grid-cell .dev-grid-margin-between:after, .dev-grid-cell .dev-grid-margin-between:before,
.dev-grid-cell .dev-grid-margin-middle-left-left:after, .dev-grid-cell .dev-grid-margin-middle-left-left:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto;
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .dev-grid-cell {
    height: 100vh;
    width: 100vw;
  }
}

.dev-grid-cell-three-quarters-height {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-image: repeating-linear-gradient(-16deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(74deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(164deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(254deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px);
  background-size: 0px 100%, 100% 0px, 1px 110%, 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100vw;
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-right {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  right: -10px;
  transform: rotate(270deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  left: -10px;
  transform: rotate(90deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-bottom {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  bottom: 5px;
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-top {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  top: 5px;
  transform: rotate(180deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-top-left-corner-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-middle-left-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-bottom-left-corner-down {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-center-up {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-between {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-right::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-right::before,
.dev-grid-cell-three-quarters-height .dev-grid-measurement-left::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-left::before,
.dev-grid-cell-three-quarters-height .dev-grid-measurement-top::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-top::before,
.dev-grid-cell-three-quarters-height .dev-grid-measurement-bottom::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-bottom::before {
  content: "—";
  opacity: 0.5;
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-top-left-corner-left:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-top-left-corner-left:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-bottom-left-corner-down:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-center-up:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-center-up:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-between:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-between:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-middle-left-left:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-middle-left-left:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto;
  opacity: 0.5;
}

.dev-grid-cell-one-quarter-height {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-image: repeating-linear-gradient(-16deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(74deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(164deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(254deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px);
  background-size: 0px 100%, 100% 0px, 1px 110%, 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100vw;
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-right {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  right: -10px;
  transform: rotate(270deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  left: -10px;
  transform: rotate(90deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-bottom {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  bottom: 5px;
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-top {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  top: 5px;
  transform: rotate(180deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-top-left-corner-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-middle-left-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-bottom-left-corner-down {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-center-up {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-between {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-right::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-right::before,
.dev-grid-cell-one-quarter-height .dev-grid-measurement-left::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-left::before,
.dev-grid-cell-one-quarter-height .dev-grid-measurement-top::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-top::before,
.dev-grid-cell-one-quarter-height .dev-grid-measurement-bottom::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-bottom::before {
  content: "—";
  opacity: 0.5;
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-top-left-corner-left:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-top-left-corner-left:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-bottom-left-corner-down:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-center-up:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-center-up:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-between:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-between:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-middle-left-left:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-middle-left-left:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto;
  opacity: 0.5;
}

/**
 * Based on https://codepen.io/saransh/pen/BKJun
 */
/**
 * Generate n random elements.
 */
/**
 * Send items upwards.
 */
@keyframes upwards-journey {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/* Style the buttons that are used to open the tab content */
.tabs {
  display: flex;
  align-items: center;
  text-align: center;
}
.tabs .tabs-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.tabs .tabs-navigation button {
  background: inherit;
  border: none;
  color: #a8a8a8;
  cursor: pointer;
  margin: 0 30px;
  outline: none;
  padding: 15px;
  transition: 0.3s ease;
}
.tabs .tabs-navigation button::after {
  background: #a8a8a8;
  content: "";
  display: block;
  height: 2px;
  margin-top: 5px;
  transition: 0.2s ease;
  width: 0;
}
.tabs .tabs-navigation button:hover {
  color: #a8a8a8;
}
.tabs .tabs-navigation button.active {
  color: #ffffff;
}
.tabs .tabs-navigation button.active::after {
  background: #ffffff;
  width: 100%;
}

.tooltip {
  position: relative;
}
.tooltip .tip {
  background-color: #ffffff;
  border-radius: 10px;
  color: #a8a8a8;
  left: 29px;
  opacity: 0;
  padding: 15px 30px;
  position: absolute;
  top: -15px;
  transition: opacity ease-in-out 0.3s;
  display: none;
  white-space: nowrap;
  width: 70px;
}
.tooltip:after {
  border: solid 7px transparent;
  border-right-color: #FFF;
  content: "";
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transition: opacity ease-in-out 0.3s;
  display: none;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover .tip {
  display: inline;
  opacity: 1;
  visibility: initial;
}
.tooltip:hover:after {
  display: block;
  opacity: 1;
  visibility: initial;
}

.Contact .Contact__Text-Container {
  flex-direction: column;
}
.Contact .Contact__Text-Container p {
  margin: 20px 60px;
}
@media only screen and (max-width: 600px) {
  .Contact .Contact__Text-Container p {
    font-size: 0.8em;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Contact .Contact__Text-Container p {
    font-size: 0.9em;
  }
}
@media screen and (max-height: 550px) {
  .Contact .Contact__Text-Container p {
    font-size: 0.7em;
    margin: 10px;
  }
}
@media screen and (max-height: 350px) {
  .Contact .Contact__Text-Container p {
    font-size: 0.5em;
    margin: 5px;
  }
}
.Contact .Contact__Icon-Container {
  flex-wrap: wrap;
}
.Contact .Contact__Icon-Container .Contact__Icon-Container__Icon {
  min-width: 33%;
}
@media only screen and (max-width: 600px), tablet {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon {
    min-width: 50%;
  }
}
@media screen and (max-height: 550px) {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon {
    min-width: 20%;
  }
}
.Contact .Contact__Icon-Container .Contact__Icon-Container__Icon img {
  height: 150px;
  max-width: 90%;
  min-height: 100px;
}
@media only screen and (max-width: 600px), tablet {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon img {
    height: 100px;
    max-width: 75%;
  }
}
@media screen and (max-height: 550px) {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon img {
    height: 50px;
    max-width: 75%;
  }
}

@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Education {
    margin-top: 20px;
  }
}
.Education .Education__Qualification-Container {
  flex-direction: column;
}
.Education .Education__Qualification-Container .Education__Qualification-Container__Logo {
  height: 70%;
}
@media screen and (max-height: 550px) {
  .Education .Education__Qualification-Container .Education__Qualification-Container__Logo {
    height: 100%;
  }
}
.Education .Education__Qualification-Container .Education__Qualification-Container__Logo img {
  height: 90%;
}
@media screen and (max-height: 550px) {
  .Education .Education__Qualification-Container .Education__Qualification-Container__Logo img {
    height: 100%;
  }
}
.Education .Education__Qualification-Container .Education__Qualification-Container__Text {
  height: 30%;
}
@media screen and (max-height: 550px) {
  .Education .Education__Qualification-Container .Education__Qualification-Container__Text {
    background-color: red;
    display: none;
  }
}

.Experience .Experience__Company-Container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 80%;
  width: 85%;
  transition: box-shadow 0.25s ease-in;
  background-color: turquoise;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 22px 6px #f4f4f4;
  box-shadow: 0px 0px 22px 6px #f4f4f4;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Experience .Experience__Company-Container {
    flex-direction: column;
  }
}
.Experience .Experience__Company-Container .Experience__Company-Container__Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45%;
  width: 0;
  color: #ffffff;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  transition: width 0.15s ease-out, height 0.15s ease-out;
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Experience .Experience__Company-Container .Experience__Company-Container__Description {
    height: 0;
    width: 40%;
    font-size: 1.5em;
  }
}
.Experience .Experience__Company-Container--transition {
  transition: transform 0.25s linear;
}
.Experience .Experience__Company-Container--selected .Experience__Company-Container__Description {
  width: 40%;
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Experience .Experience__Company-Container--selected .Experience__Company-Container__Description {
    height: 40%;
  }
}
.Experience .Experience__Company-Container:hover {
  --xPercent: 1;
  --yPercent: 1;
  transform: perspective(1000px) rotateZ(calc(var(--yPercent) * 4deg)) rotateY(calc(var(--xPercent) * 14deg)) scale3d(1, 1, 1);
  box-shadow: 0px 0px 22px 6px #e4e4e4;
}
.Experience .Experience__Company-Container.intercom {
  background: black;
}
.Experience .Experience__Company-Container.stripe {
  background-color: #a95eff;
}
.Experience .Experience__Company-Container.twitter {
  background: #1da1f2;
}
.Experience .Experience__Company-Container.mastercard {
  background: linear-gradient(180deg, #FCE38A 0%, #F38181 100%);
}
@media only screen and (max-width: 600px) {
  .Experience .Experience__Company-Container.mastercard .Experience__Company-Container__Description {
    font-size: 0.9em;
  }
}
.Experience canvas {
  position: absolute;
  height: 25vh;
}
.Experience img {
  width: 50%;
  height: 50%;
  z-index: 1;
}
.Experience #gradient-canvas-stripe {
  width: 100%;
  height: 100%;
  --gradient-color-1: #a95eff;
  --gradient-color-4: #6E40AA;
  --gradient-color-3: #5DADFB;
  --gradient-color-2: #f88a4a;
  border-radius: 25px;
}

.Header {
  background-color: #efefef;
}
.Header h1, .Header h2, .Header h3, .Header h4 {
  color: #ffffff;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}
.Header .Header__Container {
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  display: flex;
  bottom: 0;
  top: 0;
  background-size: cover;
  font-size: 1.4em;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Header .Header__Container {
    background-attachment: scroll;
  }
}
.Header .Header__Text-Overlay {
  position: absolute;
}
.Header .Header--0 {
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-1.jpg);
  background-position: 75% 30%;
}
.Header .Header--0 .Header__Text-Overlay {
  bottom: 0;
  right: 0;
  text-align: right;
}
.Header .Header--1 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%), url(img/landing-2.jpg);
  background-position: 100% 50%;
}
.Header .Header--1 .Header__Text-Overlay {
  bottom: 0;
}
.Header .Header--2 {
  justify-content: center;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-3.jpg);
  background-position: 50% 90%;
}
.Header .Header--2 .Header__Text-Overlay {
  bottom: 0;
}
.Header .Header--3 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-4.jpg);
  background-position: 57% 50%;
}
.Header .Header--4 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-5.jpg);
  background-position: 80% 50%;
  justify-content: flex-end;
}
.Header .Header--4 .Header__Text-Overlay {
  text-align: right;
}
.Header .Header--5 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-6.jpg);
  background-position: 50% 85%;
}
.Header .Header--6 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 33%, rgba(64, 64, 64, 0.5) 100%), url(img/landing-7.jpg);
  background-position: 40% 50%;
  justify-content: flex-end;
}
.Header .Header--6 .Header__Text-Overlay {
  right: 0;
  text-align: right;
}
.Header .Header--7 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-8.jpg);
  background-position: 70% 50%;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Header .header-1 {
    background-position: 72% 85%;
  }
  .Header .Header--2 {
    align-items: center;
  }
  .Header .Header--2 .Header__Text-Overlay {
    margin-bottom: 150px;
    bottom: unset;
  }
  .Header .Header--3 {
    background-position: 80% 50%;
  }
  .Header .Header--4 {
    background-position: 80% 50%;
  }
  .Header .Header--5 {
    background-position: 60% 50%;
  }
  .Header .Header--6 {
    background-position: 30% 50%;
  }
  .Header .Header--6 .Header__Text-Overlay {
    bottom: 0;
  }
  .Header .Header--7 {
    justify-content: flex-end;
  }
  .Header .Header--7 .Header__Text-Overlay {
    bottom: 0;
    text-align: right;
  }
}
@media only screen and (max-width: 600px) {
  .Header .header-0 {
    background-position: 70% 30%;
    text-align: left;
  }
  .Header .header-1 .Header__Text-Overlay {
    top: 0;
  }
  .Header .Header--2 {
    justify-content: flex-start;
    font-size: 1.2em;
  }
  .Header .Header--2 .Header__Text-Overlay {
    top: 40px;
    text-align: center;
  }
  .Header .Header--3 {
    justify-content: flex-end;
    background-position: 83% 50%;
    font-size: 1.1em;
  }
  .Header .Header--3 .Header__Text-Overlay {
    text-align: center;
  }
  .Header .Header--4, .Header .Header--6 {
    font-size: 1.2em;
  }
  .Header .Header--5 {
    font-size: 1.1em;
  }
  .Header .Header--7 {
    background-position: 80% 50%;
  }
}

.chartjs-tooltip {
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
}
.chartjs-tooltip .fa-star {
  color: #fdd43b;
}
@media only screen and (max-width: 600px) {
  .chartjs-tooltip {
    font-size: 0.7em;
    min-width: 125px;
    padding: 3px;
    margin: 3px;
  }
}

.chartjs-tooltip.right-pointer {
  border-radius: 10px 0px 10px 10px;
}

.Learning .Learning__Text-Container {
  flex-direction: column;
}
.Learning .Learning__Text-Container p {
  margin: 20px 60px;
}
@media only screen and (max-width: 600px) {
  .Learning .Learning__Text-Container p {
    font-size: 0.8em;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Learning .Learning__Text-Container p {
    font-size: 0.9em;
  }
}
@media screen and (max-height: 550px) {
  .Learning .Learning__Text-Container p {
    font-size: 0.7em;
    margin: 10px;
  }
}
@media screen and (max-height: 350px) {
  .Learning .Learning__Text-Container p {
    font-size: 0.5em;
    margin: 5px;
  }
}
.Learning .fa-heart {
  color: #e94848;
}

.Location {
  opacity: 0.75;
  font-size: 1.6em;
}
.Location .dev-grid {
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .Location .dev-grid {
    flex-direction: column;
  }
}
.Location .Location__Text {
  flex-direction: column;
}
.Location .Location__Text p {
  margin: 20px 60px;
}
@media only screen and (max-width: 600px) {
  .Location .Location__Text p {
    font-size: 0.8em;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Location .Location__Text p {
    font-size: 0.9em;
  }
}
@media screen and (max-height: 550px) {
  .Location .Location__Text p {
    font-size: 0.7em;
    margin: 10px;
  }
}
@media screen and (max-height: 350px) {
  .Location .Location__Text p {
    font-size: 0.5em;
    margin: 5px;
  }
}
.Location .map {
  -webkit-box-shadow: 0px 6px 13px 0px #dbdbdb;
  -moz-box-shadow: 0px 6px 13px 0px #dbdbdb;
  box-shadow: 0px 6px 13px 0px #dbdbdb;
  height: 75%;
  width: 75%;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Location .map {
    height: 90%;
    width: 90%;
  }
}

.Skills {
  margin-bottom: 0;
  position: relative;
}
.Skills .floaty-container {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  background-color: #26262b;
  background: linear-gradient(180deg, #131314 0%, #28272c 75%);
  height: 100% !important;
}
@media only screen and (max-width: 600px) {
  .Skills .floaty-container {
    padding-bottom: 10px;
  }
}
.Skills .floaty-container .floaty-1 {
  position: absolute;
  top: 0;
  z-index: -1;
  animation: upwards-journey 45s linear infinite;
  box-shadow: 1166px 1647px #ffffff , 77px 1202px #f8f8ef , 1152px 1903px #f8f8ef , 613px 56px #a3b9ff , 948px 1530px #a3b9ff , 376px 519px #f8f8ef , 98px 1925px #a3b9ff , 88px 656px #f8f8ef , 1588px 249px #ffffff , 1948px 1556px #f8f8ef , 1140px 1551px #a3b9ff , 711px 1166px #ffffff , 1537px 1797px #ffffff , 715px 822px #ffffff , 1028px 1068px #f8f8ef , 87px 1496px #ffffff , 144px 1713px #a3b9ff , 511px 1837px #ffffff , 280px 41px #ffffff , 1705px 1523px #f8f8ef , 291px 1645px #a3b9ff , 799px 1807px #f8f8ef , 2px 278px #f8f8ef , 634px 1885px #ffffff , 1997px 1048px #ffffff , 1679px 469px #ffffff , 370px 1558px #a3b9ff , 1351px 1452px #a3b9ff , 78px 752px #ffffff , 1271px 1336px #f8f8ef , 1899px 674px #f8f8ef , 1968px 1968px #a3b9ff , 1666px 1575px #ffffff , 66px 1170px #a3b9ff , 1622px 1572px #a3b9ff , 1619px 1660px #a3b9ff , 1557px 418px #f8f8ef , 10px 1057px #ffffff , 563px 897px #a3b9ff , 20px 1334px #a3b9ff , 72px 778px #a3b9ff , 1958px 1834px #a3b9ff , 728px 1815px #ffffff , 1198px 4px #f8f8ef , 419px 1623px #f8f8ef , 302px 1516px #f8f8ef , 1961px 434px #ffffff , 1442px 640px #f8f8ef , 640px 340px #f8f8ef , 763px 1987px #f8f8ef;
  height: 3px;
  width: 3px;
}
.Skills .floaty-container .floaty-2 {
  position: absolute;
  top: 0;
  z-index: -1;
  animation: upwards-journey 35s linear infinite;
  box-shadow: 605px 1547px #a3b9ff , 1402px 1534px #f8f8ef , 1070px 1436px #f8f8ef , 1835px 172px #ffffff , 412px 1417px #ffffff , 1851px 899px #f8f8ef , 1574px 669px #a3b9ff , 795px 1403px #a3b9ff , 1049px 1815px #f8f8ef , 1192px 173px #a3b9ff , 1250px 1721px #f8f8ef , 789px 160px #f8f8ef , 1907px 498px #f8f8ef , 1612px 1104px #a3b9ff , 280px 504px #a3b9ff , 1780px 1878px #ffffff , 485px 425px #ffffff , 984px 1973px #ffffff , 312px 1404px #ffffff , 1145px 66px #f8f8ef , 992px 1618px #a3b9ff , 1198px 580px #ffffff , 1970px 649px #a3b9ff , 1483px 1535px #a3b9ff , 1918px 1270px #a3b9ff , 1154px 637px #a3b9ff , 1905px 903px #ffffff , 605px 761px #f8f8ef , 1426px 563px #ffffff , 454px 154px #a3b9ff , 845px 1990px #f8f8ef , 1061px 232px #f8f8ef , 1975px 1716px #ffffff , 25px 1429px #f8f8ef , 536px 275px #a3b9ff , 1875px 258px #ffffff , 1186px 1452px #ffffff , 1313px 1731px #f8f8ef , 900px 1776px #ffffff , 923px 554px #a3b9ff , 58px 1728px #a3b9ff , 1524px 1985px #ffffff , 342px 644px #a3b9ff , 475px 665px #ffffff , 764px 1780px #ffffff , 132px 1354px #ffffff , 1808px 480px #ffffff , 1808px 146px #f8f8ef , 640px 96px #ffffff , 678px 192px #a3b9ff , 1997px 396px #ffffff , 1925px 271px #ffffff , 788px 1720px #a3b9ff , 1106px 1616px #ffffff , 1524px 1492px #f8f8ef , 397px 667px #f8f8ef , 1497px 1926px #a3b9ff , 1414px 415px #ffffff , 1820px 703px #a3b9ff , 1181px 1491px #f8f8ef , 1597px 530px #f8f8ef , 663px 1894px #f8f8ef , 1467px 1199px #ffffff , 1637px 1086px #f8f8ef , 1037px 1504px #f8f8ef , 1182px 1621px #ffffff , 1759px 121px #ffffff , 151px 1865px #f8f8ef , 707px 1782px #ffffff , 1134px 1814px #ffffff , 1261px 1322px #a3b9ff , 583px 1362px #a3b9ff , 1643px 987px #a3b9ff , 1482px 1143px #f8f8ef , 806px 1716px #a3b9ff , 1859px 1148px #ffffff , 1137px 729px #ffffff , 1912px 723px #ffffff , 595px 549px #ffffff , 1346px 934px #a3b9ff , 846px 596px #f8f8ef , 949px 1099px #f8f8ef , 1690px 584px #ffffff , 1725px 413px #f8f8ef , 1505px 947px #a3b9ff , 517px 1416px #ffffff , 1206px 1702px #a3b9ff , 1935px 1843px #ffffff , 12px 1777px #a3b9ff , 1127px 27px #f8f8ef , 192px 1132px #f8f8ef , 865px 112px #a3b9ff , 1536px 1670px #a3b9ff , 328px 1937px #a3b9ff , 1395px 1166px #ffffff , 527px 1021px #a3b9ff , 426px 1865px #ffffff , 1198px 536px #f8f8ef , 986px 1283px #ffffff , 1169px 1370px #ffffff , 1990px 816px #ffffff , 504px 1633px #a3b9ff , 1181px 1120px #a3b9ff , 123px 971px #ffffff , 865px 668px #f8f8ef , 272px 571px #a3b9ff , 447px 1114px #f8f8ef , 511px 1090px #f8f8ef , 1065px 702px #a3b9ff , 1314px 595px #f8f8ef , 1363px 1636px #ffffff , 1149px 117px #a3b9ff , 1135px 636px #f8f8ef , 838px 1759px #a3b9ff , 1223px 1902px #ffffff , 1982px 1974px #f8f8ef , 303px 47px #ffffff , 1061px 1882px #ffffff , 621px 816px #a3b9ff , 1199px 1879px #ffffff , 474px 1044px #a3b9ff , 766px 735px #a3b9ff , 1034px 1518px #ffffff , 1813px 1775px #f8f8ef , 240px 895px #f8f8ef , 1151px 873px #a3b9ff , 111px 1790px #f8f8ef , 595px 1086px #ffffff , 1264px 513px #ffffff , 1936px 933px #f8f8ef , 439px 544px #f8f8ef , 542px 503px #f8f8ef , 621px 1522px #ffffff , 1314px 691px #a3b9ff , 989px 993px #ffffff , 327px 1987px #ffffff , 1336px 1649px #ffffff , 19px 1026px #f8f8ef , 153px 104px #f8f8ef , 1533px 182px #ffffff , 577px 42px #ffffff , 154px 111px #f8f8ef , 159px 313px #f8f8ef , 1631px 175px #f8f8ef , 407px 494px #a3b9ff , 1203px 1657px #f8f8ef , 723px 1796px #a3b9ff , 387px 171px #a3b9ff , 1959px 210px #f8f8ef , 378px 1096px #f8f8ef;
  height: 2px;
  width: 2px;
}
.Skills .floaty-container .floaty-3 {
  animation: upwards-journey 25s linear infinite;
  box-shadow: 815px 1253px #ffffff , 679px 1716px #f8f8ef , 1256px 1462px #ffffff , 1900px 1013px #ffffff , 1709px 64px #a3b9ff , 1254px 1453px #a3b9ff , 1333px 1931px #f8f8ef , 1078px 604px #ffffff , 565px 927px #ffffff , 621px 335px #f8f8ef , 583px 427px #ffffff , 55px 349px #a3b9ff , 1834px 1401px #a3b9ff , 860px 1695px #f8f8ef , 221px 1138px #a3b9ff , 481px 1728px #ffffff , 234px 1818px #a3b9ff , 1939px 1910px #ffffff , 123px 1185px #ffffff , 1269px 66px #a3b9ff , 892px 1058px #f8f8ef , 1166px 346px #a3b9ff , 1928px 972px #ffffff , 525px 827px #ffffff , 1263px 297px #f8f8ef , 1656px 1900px #a3b9ff , 963px 1531px #f8f8ef , 1760px 612px #f8f8ef , 1958px 1713px #f8f8ef , 1937px 1326px #a3b9ff , 225px 647px #f8f8ef , 1251px 828px #ffffff , 1911px 1876px #f8f8ef , 973px 1451px #a3b9ff , 42px 1826px #f8f8ef , 651px 1663px #ffffff , 1885px 1705px #f8f8ef , 1116px 1712px #ffffff , 1070px 604px #f8f8ef , 590px 673px #a3b9ff , 1963px 1560px #ffffff , 176px 277px #f8f8ef , 1163px 1071px #ffffff , 87px 28px #ffffff , 1846px 936px #f8f8ef , 1111px 1031px #ffffff , 486px 209px #a3b9ff , 358px 1594px #f8f8ef , 1571px 1928px #a3b9ff , 862px 1852px #f8f8ef , 1639px 1387px #f8f8ef , 976px 1668px #a3b9ff , 544px 905px #a3b9ff , 191px 897px #ffffff , 658px 319px #ffffff , 1962px 1532px #ffffff , 1578px 1388px #a3b9ff , 1682px 1751px #a3b9ff , 1393px 1989px #ffffff , 951px 1718px #ffffff , 554px 43px #f8f8ef , 1517px 1478px #a3b9ff , 441px 1436px #a3b9ff , 649px 696px #a3b9ff , 1141px 867px #f8f8ef , 889px 191px #ffffff , 1373px 1278px #f8f8ef , 1058px 549px #a3b9ff , 1760px 485px #a3b9ff , 621px 1748px #a3b9ff , 468px 1292px #f8f8ef , 1203px 767px #a3b9ff , 1316px 1259px #f8f8ef , 1897px 1675px #f8f8ef , 1558px 1029px #f8f8ef , 1588px 1682px #f8f8ef , 240px 145px #a3b9ff , 8px 1350px #f8f8ef , 1919px 1389px #a3b9ff , 1237px 1164px #f8f8ef , 912px 392px #ffffff , 1789px 159px #ffffff , 143px 1756px #a3b9ff , 1974px 18px #a3b9ff , 1058px 525px #ffffff , 239px 248px #a3b9ff , 1666px 1361px #a3b9ff , 1916px 1090px #ffffff , 1738px 295px #a3b9ff , 1736px 1658px #a3b9ff , 1131px 1484px #a3b9ff , 1987px 368px #a3b9ff , 1245px 1363px #a3b9ff , 1436px 1473px #a3b9ff , 696px 1216px #a3b9ff , 1577px 1864px #f8f8ef , 1915px 401px #f8f8ef , 1287px 277px #ffffff , 480px 1011px #a3b9ff , 1479px 1697px #ffffff , 790px 1897px #ffffff , 517px 538px #f8f8ef , 1354px 1875px #f8f8ef , 1923px 1943px #f8f8ef , 79px 946px #ffffff , 1859px 901px #a3b9ff , 1341px 921px #a3b9ff , 341px 576px #f8f8ef , 1681px 1831px #f8f8ef , 1130px 381px #ffffff , 536px 995px #f8f8ef , 1387px 598px #ffffff , 1872px 1894px #a3b9ff , 1261px 909px #ffffff , 759px 497px #ffffff , 1170px 1522px #ffffff , 1792px 1616px #ffffff , 1769px 1289px #f8f8ef , 211px 452px #ffffff , 1709px 704px #ffffff , 212px 1665px #ffffff , 966px 1158px #f8f8ef , 1781px 1949px #a3b9ff , 1657px 369px #f8f8ef , 625px 1486px #a3b9ff , 1974px 1650px #f8f8ef , 1920px 1765px #f8f8ef , 235px 669px #ffffff , 952px 401px #f8f8ef , 81px 1798px #ffffff , 987px 778px #a3b9ff , 1713px 1757px #f8f8ef , 104px 855px #ffffff , 1550px 1806px #ffffff , 1553px 1054px #f8f8ef , 824px 1765px #ffffff , 1247px 1180px #a3b9ff , 707px 1659px #a3b9ff , 1083px 1816px #a3b9ff , 1327px 757px #a3b9ff , 330px 1116px #ffffff , 818px 140px #f8f8ef , 1777px 888px #a3b9ff , 527px 304px #f8f8ef , 65px 577px #f8f8ef , 1895px 1665px #f8f8ef , 1324px 529px #f8f8ef , 1717px 262px #ffffff , 956px 229px #a3b9ff , 86px 674px #f8f8ef , 1709px 1804px #f8f8ef , 1947px 287px #a3b9ff , 736px 1781px #a3b9ff , 1358px 935px #f8f8ef , 1854px 467px #f8f8ef , 535px 1609px #f8f8ef , 1211px 1065px #ffffff , 1554px 1997px #f8f8ef , 633px 1698px #a3b9ff , 1980px 871px #f8f8ef , 1359px 217px #a3b9ff , 23px 235px #ffffff , 1091px 264px #f8f8ef , 266px 1604px #f8f8ef , 1554px 1092px #ffffff , 789px 1814px #a3b9ff , 1163px 676px #ffffff , 1697px 769px #a3b9ff , 1009px 15px #f8f8ef , 817px 1754px #ffffff , 88px 911px #a3b9ff , 1573px 566px #f8f8ef , 1541px 750px #f8f8ef , 1397px 472px #ffffff , 827px 605px #f8f8ef , 73px 1921px #ffffff , 775px 1464px #ffffff , 3px 1539px #a3b9ff , 1682px 1177px #ffffff , 1799px 1362px #f8f8ef , 1977px 942px #ffffff , 1447px 1543px #a3b9ff , 243px 1696px #a3b9ff , 1205px 1294px #ffffff , 738px 773px #ffffff , 110px 805px #ffffff , 789px 1691px #f8f8ef , 585px 846px #a3b9ff , 1553px 1037px #a3b9ff , 774px 1799px #a3b9ff , 1248px 208px #a3b9ff , 433px 489px #f8f8ef , 1563px 515px #a3b9ff , 1634px 1032px #a3b9ff , 1676px 1213px #ffffff , 707px 752px #f8f8ef , 702px 1217px #a3b9ff , 123px 774px #ffffff , 135px 1397px #ffffff , 1134px 96px #ffffff;
  height: 1px;
  width: 1px;
}
.Skills .tabs {
  width: 100%;
}
.Skills .tabs .tabs-navigation button {
  font-size: 1.2em;
}
@media only screen and (max-width: 600px) {
  .Skills .tabs .tabs-navigation .tabs-tab {
    margin: 0 15px;
    padding: 0;
  }
}
.Skills .tabs .tabs-content {
  color: #ffffff;
  font-size: 1.75em;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo .Skills__Container__Skill__Name {
  font-size: 0.7em;
  margin: 0 50px;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo .Skills__Container__Skill__Logo {
  margin-bottom: 15px;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo .Skills__Container__Skill__Logo img {
  width: 40%;
  max-height: 350px;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Rating {
  width: 60%;
}
@media only screen and (max-width: 600px) {
  .Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill:last-of-type {
    margin-bottom: 50px;
  }
}
.Skills .Stars {
  color: #fdd43b;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: center;
  letter-spacing: 15px;
}
@media only screen and (max-width: 600px) {
  .Skills .Stars {
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Skills .Stars {
    font-size: 1.2em;
  }
}
.Skills .Stars .Stars--Avoid-Wrap {
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  font-family: gill-sans-nova, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/*# sourceMappingURL=index.css.map */
