body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
  color: #b0afaf;
  margin: 20px;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  margin: 20px;
  text-align: center;
}

.Section {
  scroll-snap-align: start;
}
.Section p {
  color: #b0afaf;
  margin: 20px 60px;
  font-size: 1.6em;
}
@media only screen and (max-width: 600px) {
  .Section p {
    font-size: 1.2em;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Section p {
    font-size: 1.5em;
  }
}
@media screen and (max-height: 550px) {
  .Section p {
    font-size: 1.2em;
    margin: 10px;
  }
}
@media screen and (max-height: 350px) {
  .Section p {
    font-size: 0.5em;
    margin: 5px;
  }
}

.dev-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .dev-grid {
    flex-direction: column;
    flex-wrap: inherit;
  }
}

.dev-grid-half {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .dev-grid-half {
    flex-direction: column;
    flex-wrap: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .dev-grid-half {
    height: 100vh;
  }
}

.dev-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 50vh;
  width: 50vw;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .dev-grid-cell {
    height: 100vh;
    width: 100vw;
  }
}

.dev-grid-cell-three-quarters-height {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 75vh;
  width: 100vw;
}

.dev-grid-cell-one-quarter-height {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 25vh;
  width: 100vw;
}

/**
 * Based on https://codepen.io/saransh/pen/BKJun
 */
/**
 * Generate n random elements.
 */
/**
 * Send items upwards.
 */
@keyframes upwards-journey {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/* Style the buttons that are used to open the tab content */
.tabs {
  display: flex;
  align-items: center;
  text-align: center;
}
.tabs .tabs-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.tabs .tabs-navigation button {
  background: inherit;
  border: none;
  color: #a8a8a8;
  cursor: pointer;
  margin: 0 30px;
  outline: none;
  padding: 15px;
  transition: 0.3s ease;
}
.tabs .tabs-navigation button::after {
  background: #a8a8a8;
  content: "";
  display: block;
  height: 2px;
  margin-top: 5px;
  transition: 0.2s ease;
  width: 0;
}
.tabs .tabs-navigation button:hover {
  color: #a8a8a8;
}
.tabs .tabs-navigation button.active {
  color: #ffffff;
}
.tabs .tabs-navigation button.active::after {
  background: #ffffff;
  width: 100%;
}

.tooltip {
  position: relative;
}
.tooltip .tip {
  background-color: #ffffff;
  border-radius: 10px;
  color: #a8a8a8;
  left: 29px;
  opacity: 0;
  padding: 15px 30px;
  position: absolute;
  top: -15px;
  transition: opacity ease-in-out 0.3s;
  display: none;
  white-space: nowrap;
  width: 70px;
}
.tooltip:after {
  border: solid 7px transparent;
  border-right-color: #FFF;
  content: "";
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transition: opacity ease-in-out 0.3s;
  display: none;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover .tip {
  display: inline;
  opacity: 1;
  visibility: initial;
}
.tooltip:hover:after {
  display: block;
  opacity: 1;
  visibility: initial;
}

.App {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.Contact .Contact__Text-Container {
  flex-direction: column;
}
.Contact .Contact__Text-Container p {
  margin: 20px 60px;
}
@media only screen and (max-width: 600px) {
  .Contact .Contact__Text-Container p {
    font-size: 1.2em;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Contact .Contact__Text-Container p {
    font-size: 1.5em;
  }
}
@media screen and (max-height: 550px) {
  .Contact .Contact__Text-Container p {
    font-size: 1.2em;
    margin: 10px;
  }
}
@media screen and (max-height: 350px) {
  .Contact .Contact__Text-Container p {
    font-size: 0.5em;
    margin: 5px;
  }
}
.Contact .Contact__Icon-Container {
  flex-wrap: wrap;
}
.Contact .Contact__Icon-Container .Contact__Icon-Container__Icon {
  min-width: 33%;
}
@media only screen and (max-width: 600px), tablet {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon {
    min-width: 50%;
  }
}
@media screen and (max-height: 550px) {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon {
    min-width: 20%;
  }
}
.Contact .Contact__Icon-Container .Contact__Icon-Container__Icon img {
  height: 150px;
  max-width: 90%;
  min-height: 100px;
}
@media only screen and (max-width: 600px), tablet {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon img {
    height: 100px;
    max-width: 75%;
  }
}
@media screen and (max-height: 550px) {
  .Contact .Contact__Icon-Container .Contact__Icon-Container__Icon img {
    height: 50px;
    max-width: 75%;
  }
}

@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Education {
    margin-top: 20px;
  }
}
.Education .Education__Qualification-Container {
  flex-direction: column;
}
.Education .Education__Qualification-Container .Education__Qualification-Container__Logo {
  height: 70%;
}
@media screen and (max-height: 550px) {
  .Education .Education__Qualification-Container .Education__Qualification-Container__Logo {
    height: 100%;
  }
}
.Education .Education__Qualification-Container .Education__Qualification-Container__Logo img {
  height: 90%;
}
@media screen and (max-height: 550px) {
  .Education .Education__Qualification-Container .Education__Qualification-Container__Logo img {
    height: 100%;
  }
}
.Education .Education__Qualification-Container .Education__Qualification-Container__Text {
  height: 30%;
}
@media screen and (max-height: 550px) {
  .Education .Education__Qualification-Container .Education__Qualification-Container__Text {
    background-color: red;
    display: none;
  }
}

.Experience .Experience__Company-Container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 80%;
  width: 85%;
  transition: box-shadow 0.25s ease-in;
  background-color: turquoise;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 22px 6px #f4f4f4;
  box-shadow: 0px 0px 22px 6px #f4f4f4;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Experience .Experience__Company-Container {
    flex-direction: column;
  }
}
.Experience .Experience__Company-Container .Experience__Company-Container__Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45%;
  width: 0;
  color: #ffffff;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  transition: width 0.15s ease-out, height 0.15s ease-out;
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Experience .Experience__Company-Container .Experience__Company-Container__Description {
    height: 0;
    width: 40%;
    font-size: 1.5em;
  }
}
.Experience .Experience__Company-Container--transition {
  transition: transform 0.25s linear;
}
.Experience .Experience__Company-Container--selected .Experience__Company-Container__Description {
  width: 40%;
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Experience .Experience__Company-Container--selected .Experience__Company-Container__Description {
    height: 40%;
  }
}
.Experience .Experience__Company-Container:hover {
  --xPercent: 1;
  --yPercent: 1;
  transform: perspective(1000px) rotateZ(calc(var(--yPercent) * 4deg)) rotateY(calc(var(--xPercent) * 14deg)) scale3d(1, 1, 1);
  box-shadow: 0px 0px 22px 6px #e4e4e4;
}
.Experience .Experience__Company-Container.intercom {
  background: black;
}
.Experience .Experience__Company-Container.stripe {
  background-color: #a95eff;
}
.Experience .Experience__Company-Container.twitter {
  background: rgb(29, 161, 242);
}
.Experience .Experience__Company-Container.mastercard {
  background: linear-gradient(180deg, #FCE38A 0%, #F38181 100%);
}
@media only screen and (max-width: 600px) {
  .Experience .Experience__Company-Container.mastercard .Experience__Company-Container__Description {
    font-size: 0.9em;
  }
}
.Experience canvas {
  position: absolute;
  height: 25vh;
}
.Experience img {
  width: 50%;
  height: 50%;
  z-index: 1;
}
.Experience #gradient-canvas-stripe {
  width: 100%;
  height: 100%;
  --gradient-color-1: #a95eff;
  --gradient-color-4: #6E40AA;
  --gradient-color-3: #5DADFB;
  --gradient-color-2: #f88a4a;
  border-radius: 25px;
}

.Header {
  background-color: #efefef;
}
.Header h1, .Header h2, .Header h3, .Header h4 {
  color: #ffffff;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}
.Header .Header__Container {
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  display: flex;
  position: relative;
  bottom: 0;
  top: 0;
  background-size: cover;
  font-size: 1.4em;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Header .Header__Container {
    background-attachment: scroll;
  }
}
.Header .Header__Text-Overlay {
  position: absolute;
}
.Header .Header--0 {
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-1.jpg);
  background-position: 75% 30%;
}
.Header .Header--0 .Header__Text-Overlay {
  bottom: 0;
  right: 0;
  text-align: right;
}
.Header .Header--1 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%), url(img/landing-2.jpg);
  background-position: 100% 50%;
}
.Header .Header--1 .Header__Text-Overlay {
  bottom: 0;
}
.Header .Header--2 {
  justify-content: center;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-3.jpg);
  background-position: 50% 90%;
}
.Header .Header--2 .Header__Text-Overlay {
  bottom: 0;
}
.Header .Header--3 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-4.jpg);
  background-position: 57% 50%;
}
.Header .Header--4 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-5.jpg);
  background-position: 80% 50%;
  justify-content: flex-end;
}
.Header .Header--4 .Header__Text-Overlay {
  text-align: right;
}
.Header .Header--5 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-6.jpg);
  background-position: 50% 85%;
}
.Header .Header--6 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 33%, rgba(64, 64, 64, 0.5) 100%), url(img/landing-7.jpg);
  background-position: 40% 50%;
  justify-content: flex-end;
}
.Header .Header--6 .Header__Text-Overlay {
  right: 0;
  text-align: right;
}
.Header .Header--7 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-8.jpg);
  background-position: 70% 50%;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Header .header-1 {
    background-position: 72% 85%;
  }
  .Header .Header--2 {
    align-items: center;
  }
  .Header .Header--2 .Header__Text-Overlay {
    margin-bottom: 150px;
    bottom: unset;
  }
  .Header .Header--3 {
    background-position: 80% 50%;
  }
  .Header .Header--4 {
    background-position: 80% 50%;
  }
  .Header .Header--5 {
    background-position: 60% 50%;
  }
  .Header .Header--6 {
    background-position: 30% 50%;
  }
  .Header .Header--6 .Header__Text-Overlay {
    bottom: 0;
  }
  .Header .Header--7 {
    justify-content: flex-end;
  }
  .Header .Header--7 .Header__Text-Overlay {
    bottom: 0;
    text-align: right;
  }
}
@media only screen and (max-width: 600px) {
  .Header .header-0 {
    background-position: 70% 30%;
    text-align: left;
  }
  .Header .header-1 .Header__Text-Overlay {
    top: 0;
  }
  .Header .Header--2 {
    justify-content: flex-start;
    font-size: 1.2em;
  }
  .Header .Header--2 .Header__Text-Overlay {
    top: 40px;
    text-align: center;
  }
  .Header .Header--3 {
    justify-content: flex-end;
    background-position: 83% 50%;
    font-size: 1.1em;
  }
  .Header .Header--3 .Header__Text-Overlay {
    text-align: center;
  }
  .Header .Header--4, .Header .Header--6 {
    font-size: 1.2em;
  }
  .Header .Header--5 {
    font-size: 1.1em;
  }
  .Header .Header--7 {
    background-position: 80% 50%;
  }
}

.chartjs-tooltip {
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
}
.chartjs-tooltip .fa-star {
  color: #fdd43b;
}
@media only screen and (max-width: 600px) {
  .chartjs-tooltip {
    font-size: 0.7em;
    min-width: 125px;
    padding: 3px;
    margin: 3px;
  }
}

.chartjs-tooltip.right-pointer {
  border-radius: 10px 0px 10px 10px;
}

.Learning .Learning__Text-Container {
  flex-direction: column;
}
.Learning .Learning__Text-Container p {
  margin: 20px 60px;
}
@media only screen and (max-width: 600px) {
  .Learning .Learning__Text-Container p {
    font-size: 1.2em;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Learning .Learning__Text-Container p {
    font-size: 1.5em;
  }
}
@media screen and (max-height: 550px) {
  .Learning .Learning__Text-Container p {
    font-size: 1.2em;
    margin: 10px;
  }
}
@media screen and (max-height: 350px) {
  .Learning .Learning__Text-Container p {
    font-size: 0.5em;
    margin: 5px;
  }
}
.Learning .fa-heart {
  color: rgb(233, 72, 72);
}

.Location .dev-grid {
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .Location .dev-grid {
    flex-direction: column;
  }
}
.Location .Location__Text {
  flex-direction: column;
}
.Location .Location__Map {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  opacity: 0.5;
  width: 100vw;
}
.Location .map-click-wrapper {
  height: 100%;
  width: 90%;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 916px) {
  .Location .map-click-wrapper {
    width: 100%;
  }
}
.Location .map-click-wrapper .map {
  -webkit-box-shadow: 0px 6px 13px 0px rgb(219, 219, 219);
  -moz-box-shadow: 0px 6px 13px 0px rgb(219, 219, 219);
  box-shadow: 0px 6px 13px 0px rgb(219, 219, 219);
  height: 100%;
  width: 100%;
}
.Location .map-click-wrapper .map-unclicked {
  pointer-events: none;
}

.Skills {
  margin-bottom: 0;
  position: relative;
}
.Skills .floaty-container {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  background-color: rgb(38, 38, 43);
  background: linear-gradient(180deg, rgb(19, 19, 20) 0%, rgb(40, 39, 44) 75%);
  height: 100% !important;
}
@media only screen and (max-width: 600px) {
  .Skills .floaty-container {
    padding-bottom: 10px;
  }
}
.Skills .floaty-container .floaty-1 {
  position: absolute;
  top: 0;
  z-index: -1;
  animation: upwards-journey 45s linear infinite;
  box-shadow: 1423px 89px rgb(163, 185, 255) , 151px 427px rgb(248, 248, 239) , 82px 1474px rgb(163, 185, 255) , 1268px 1071px rgb(163, 185, 255) , 900px 1951px #ffffff , 209px 563px rgb(163, 185, 255) , 1048px 1320px #ffffff , 1105px 984px rgb(163, 185, 255) , 1614px 175px rgb(163, 185, 255) , 1473px 266px rgb(248, 248, 239) , 66px 1608px rgb(248, 248, 239) , 543px 469px rgb(163, 185, 255) , 974px 80px rgb(248, 248, 239) , 1380px 1747px #ffffff , 710px 626px rgb(248, 248, 239) , 310px 442px rgb(163, 185, 255) , 578px 1575px rgb(248, 248, 239) , 384px 1629px rgb(248, 248, 239) , 225px 1524px #ffffff , 113px 168px rgb(248, 248, 239) , 64px 1765px rgb(163, 185, 255) , 1906px 149px rgb(163, 185, 255) , 414px 876px rgb(163, 185, 255) , 231px 1666px rgb(248, 248, 239) , 1085px 74px rgb(248, 248, 239) , 1271px 1837px rgb(248, 248, 239) , 628px 241px rgb(248, 248, 239) , 846px 1221px rgb(163, 185, 255) , 1005px 556px rgb(248, 248, 239) , 649px 1541px rgb(248, 248, 239) , 788px 1529px rgb(163, 185, 255) , 862px 1804px rgb(248, 248, 239) , 64px 1430px rgb(248, 248, 239) , 212px 1033px #ffffff , 1498px 1040px rgb(163, 185, 255) , 1998px 1358px rgb(163, 185, 255) , 929px 1461px #ffffff , 394px 917px rgb(163, 185, 255) , 248px 1084px rgb(163, 185, 255) , 66px 906px rgb(248, 248, 239) , 1605px 1412px #ffffff , 998px 125px rgb(248, 248, 239) , 1758px 481px rgb(248, 248, 239) , 375px 1470px rgb(248, 248, 239) , 1390px 211px rgb(163, 185, 255) , 256px 1961px rgb(248, 248, 239) , 234px 552px rgb(163, 185, 255) , 560px 1607px #ffffff , 831px 846px rgb(163, 185, 255) , 89px 1116px rgb(248, 248, 239);
  height: 3px;
  width: 3px;
}
.Skills .floaty-container .floaty-2 {
  position: absolute;
  top: 0;
  z-index: -1;
  animation: upwards-journey 35s linear infinite;
  box-shadow: 583px 1412px #ffffff , 1761px 371px rgb(163, 185, 255) , 435px 856px rgb(163, 185, 255) , 1718px 1842px rgb(163, 185, 255) , 1566px 1868px rgb(163, 185, 255) , 783px 1976px rgb(163, 185, 255) , 958px 365px rgb(163, 185, 255) , 567px 575px rgb(248, 248, 239) , 593px 1131px rgb(248, 248, 239) , 1454px 414px rgb(163, 185, 255) , 1942px 405px rgb(163, 185, 255) , 394px 433px rgb(163, 185, 255) , 333px 1859px rgb(163, 185, 255) , 439px 1213px #ffffff , 705px 1060px #ffffff , 501px 324px #ffffff , 1634px 1693px rgb(163, 185, 255) , 913px 37px rgb(248, 248, 239) , 1926px 778px #ffffff , 245px 775px #ffffff , 1058px 1032px rgb(163, 185, 255) , 870px 1909px rgb(248, 248, 239) , 194px 1308px #ffffff , 1436px 1083px rgb(163, 185, 255) , 1470px 1922px rgb(163, 185, 255) , 670px 1967px #ffffff , 58px 692px rgb(163, 185, 255) , 998px 1951px rgb(248, 248, 239) , 302px 294px rgb(248, 248, 239) , 212px 222px rgb(248, 248, 239) , 1872px 1204px rgb(248, 248, 239) , 22px 865px #ffffff , 1658px 1471px rgb(163, 185, 255) , 1426px 1550px rgb(163, 185, 255) , 1563px 1932px rgb(163, 185, 255) , 1334px 1253px rgb(248, 248, 239) , 291px 689px rgb(163, 185, 255) , 1498px 1604px rgb(163, 185, 255) , 110px 1859px #ffffff , 427px 659px rgb(248, 248, 239) , 78px 989px #ffffff , 506px 47px #ffffff , 601px 93px rgb(248, 248, 239) , 1125px 620px #ffffff , 1087px 703px rgb(163, 185, 255) , 1972px 384px rgb(163, 185, 255) , 502px 153px rgb(248, 248, 239) , 1771px 1166px rgb(163, 185, 255) , 56px 1466px rgb(163, 185, 255) , 568px 1121px #ffffff , 73px 78px rgb(248, 248, 239) , 1879px 1133px rgb(248, 248, 239) , 132px 1638px rgb(248, 248, 239) , 1031px 1858px #ffffff , 1444px 1034px #ffffff , 356px 1596px rgb(163, 185, 255) , 1503px 79px #ffffff , 1798px 150px #ffffff , 523px 1153px rgb(163, 185, 255) , 1889px 100px rgb(163, 185, 255) , 360px 1198px rgb(248, 248, 239) , 897px 1822px rgb(163, 185, 255) , 1639px 1950px rgb(248, 248, 239) , 938px 1762px rgb(163, 185, 255) , 1095px 899px rgb(248, 248, 239) , 744px 390px rgb(248, 248, 239) , 95px 1760px #ffffff , 1529px 1611px rgb(248, 248, 239) , 1253px 1215px rgb(163, 185, 255) , 30px 193px rgb(248, 248, 239) , 1881px 558px rgb(248, 248, 239) , 1173px 1193px rgb(248, 248, 239) , 1669px 79px rgb(163, 185, 255) , 1255px 1456px #ffffff , 304px 1104px rgb(163, 185, 255) , 405px 1132px rgb(163, 185, 255) , 868px 177px #ffffff , 1335px 1022px rgb(163, 185, 255) , 1655px 1618px rgb(248, 248, 239) , 1938px 1039px #ffffff , 1457px 974px rgb(163, 185, 255) , 594px 1431px rgb(163, 185, 255) , 84px 1845px rgb(248, 248, 239) , 1112px 1260px #ffffff , 675px 1799px rgb(163, 185, 255) , 1486px 1869px rgb(163, 185, 255) , 612px 215px rgb(163, 185, 255) , 1739px 1629px #ffffff , 1917px 1696px rgb(163, 185, 255) , 918px 74px #ffffff , 1344px 877px #ffffff , 84px 1963px rgb(163, 185, 255) , 1015px 1575px rgb(163, 185, 255) , 845px 1238px rgb(163, 185, 255) , 1933px 1448px #ffffff , 1712px 1105px #ffffff , 1507px 1562px #ffffff , 488px 126px rgb(248, 248, 239) , 1834px 1824px #ffffff , 1602px 1357px rgb(248, 248, 239) , 1721px 1637px #ffffff , 1573px 1862px rgb(163, 185, 255) , 606px 76px rgb(163, 185, 255) , 848px 541px rgb(163, 185, 255) , 588px 1470px #ffffff , 296px 1248px rgb(248, 248, 239) , 1847px 903px #ffffff , 652px 1874px rgb(163, 185, 255) , 1848px 1572px rgb(248, 248, 239) , 1732px 924px rgb(248, 248, 239) , 1789px 531px rgb(248, 248, 239) , 20px 556px #ffffff , 884px 1704px rgb(248, 248, 239) , 1821px 120px rgb(248, 248, 239) , 1998px 14px rgb(163, 185, 255) , 703px 972px rgb(163, 185, 255) , 1855px 385px rgb(248, 248, 239) , 573px 589px #ffffff , 1703px 1044px #ffffff , 336px 1729px #ffffff , 459px 1208px rgb(248, 248, 239) , 1925px 665px rgb(163, 185, 255) , 51px 1768px #ffffff , 885px 566px rgb(248, 248, 239) , 1937px 438px #ffffff , 406px 552px rgb(163, 185, 255) , 467px 558px #ffffff , 601px 1444px #ffffff , 665px 489px #ffffff , 1315px 1701px rgb(163, 185, 255) , 757px 1032px rgb(163, 185, 255) , 533px 1509px #ffffff , 824px 498px rgb(163, 185, 255) , 1389px 491px #ffffff , 733px 1524px rgb(163, 185, 255) , 1685px 1337px #ffffff , 1349px 1559px #ffffff , 684px 394px rgb(163, 185, 255) , 809px 546px #ffffff , 79px 1895px rgb(163, 185, 255) , 77px 296px #ffffff , 620px 1431px rgb(248, 248, 239) , 942px 714px rgb(248, 248, 239) , 1806px 1154px rgb(248, 248, 239) , 1196px 258px #ffffff , 491px 774px rgb(248, 248, 239) , 1243px 547px rgb(163, 185, 255) , 1885px 1192px #ffffff , 735px 1556px rgb(248, 248, 239) , 1931px 1940px rgb(163, 185, 255);
  height: 2px;
  width: 2px;
}
.Skills .floaty-container .floaty-3 {
  animation: upwards-journey 25s linear infinite;
  box-shadow: 1474px 1877px rgb(163, 185, 255) , 1030px 886px rgb(163, 185, 255) , 1672px 1100px rgb(163, 185, 255) , 1375px 1614px rgb(248, 248, 239) , 189px 1079px #ffffff , 1268px 85px #ffffff , 838px 435px rgb(163, 185, 255) , 550px 743px rgb(248, 248, 239) , 1604px 1222px rgb(163, 185, 255) , 198px 490px #ffffff , 1882px 476px #ffffff , 1771px 282px #ffffff , 294px 1556px rgb(248, 248, 239) , 511px 1400px rgb(163, 185, 255) , 1411px 1769px rgb(248, 248, 239) , 1928px 227px #ffffff , 679px 321px rgb(248, 248, 239) , 407px 817px #ffffff , 1436px 498px rgb(248, 248, 239) , 109px 315px rgb(248, 248, 239) , 996px 591px rgb(163, 185, 255) , 968px 1085px rgb(163, 185, 255) , 1289px 813px rgb(163, 185, 255) , 322px 1818px #ffffff , 227px 1655px rgb(248, 248, 239) , 1066px 1122px rgb(163, 185, 255) , 40px 1779px #ffffff , 1044px 936px rgb(163, 185, 255) , 354px 832px #ffffff , 1428px 1660px rgb(248, 248, 239) , 1750px 340px rgb(163, 185, 255) , 1881px 932px rgb(163, 185, 255) , 270px 1273px rgb(248, 248, 239) , 1261px 1144px rgb(248, 248, 239) , 1003px 690px #ffffff , 1990px 251px #ffffff , 1717px 1774px #ffffff , 252px 413px #ffffff , 120px 599px #ffffff , 178px 1270px #ffffff , 1629px 228px rgb(248, 248, 239) , 1627px 964px rgb(248, 248, 239) , 1810px 1978px rgb(163, 185, 255) , 32px 233px rgb(248, 248, 239) , 665px 858px #ffffff , 1560px 1572px rgb(163, 185, 255) , 1104px 205px rgb(248, 248, 239) , 1908px 1347px #ffffff , 81px 926px rgb(248, 248, 239) , 1802px 1406px rgb(248, 248, 239) , 1949px 533px rgb(248, 248, 239) , 1274px 454px #ffffff , 947px 1794px rgb(163, 185, 255) , 1306px 115px #ffffff , 882px 1569px rgb(248, 248, 239) , 1115px 565px #ffffff , 871px 1243px rgb(163, 185, 255) , 1557px 1211px #ffffff , 918px 285px #ffffff , 583px 1853px #ffffff , 412px 1522px #ffffff , 213px 602px #ffffff , 1675px 1545px rgb(163, 185, 255) , 1282px 1138px rgb(163, 185, 255) , 361px 373px #ffffff , 1810px 1351px #ffffff , 1368px 162px rgb(248, 248, 239) , 1049px 891px rgb(163, 185, 255) , 1622px 1641px rgb(248, 248, 239) , 106px 1955px rgb(163, 185, 255) , 1995px 1820px #ffffff , 539px 1188px rgb(163, 185, 255) , 1887px 1588px #ffffff , 1875px 261px #ffffff , 1927px 1262px rgb(163, 185, 255) , 205px 1387px rgb(163, 185, 255) , 232px 861px rgb(163, 185, 255) , 1698px 785px rgb(248, 248, 239) , 912px 1275px #ffffff , 508px 1618px rgb(248, 248, 239) , 891px 534px rgb(248, 248, 239) , 856px 304px rgb(163, 185, 255) , 512px 841px #ffffff , 1268px 1394px rgb(248, 248, 239) , 819px 194px rgb(248, 248, 239) , 801px 1263px rgb(163, 185, 255) , 31px 1916px rgb(163, 185, 255) , 1631px 1671px rgb(163, 185, 255) , 17px 155px rgb(248, 248, 239) , 1602px 707px rgb(248, 248, 239) , 222px 1247px rgb(248, 248, 239) , 408px 1978px rgb(248, 248, 239) , 1349px 1168px rgb(163, 185, 255) , 888px 1746px rgb(163, 185, 255) , 1111px 395px #ffffff , 1826px 799px rgb(163, 185, 255) , 213px 1773px #ffffff , 1316px 110px rgb(163, 185, 255) , 1489px 1226px #ffffff , 1956px 814px rgb(163, 185, 255) , 1863px 673px rgb(163, 185, 255) , 1621px 1657px #ffffff , 1338px 714px #ffffff , 1447px 55px rgb(248, 248, 239) , 1183px 1532px rgb(163, 185, 255) , 420px 867px #ffffff , 1795px 702px rgb(163, 185, 255) , 863px 1231px #ffffff , 240px 441px rgb(163, 185, 255) , 41px 1798px rgb(248, 248, 239) , 158px 1609px rgb(163, 185, 255) , 1547px 336px rgb(163, 185, 255) , 688px 347px rgb(163, 185, 255) , 701px 1899px #ffffff , 1228px 993px rgb(163, 185, 255) , 1378px 1798px rgb(163, 185, 255) , 1720px 1664px #ffffff , 261px 309px #ffffff , 513px 319px rgb(248, 248, 239) , 1254px 541px rgb(248, 248, 239) , 22px 979px rgb(248, 248, 239) , 1576px 1516px rgb(163, 185, 255) , 1261px 619px rgb(248, 248, 239) , 420px 398px rgb(248, 248, 239) , 1535px 1023px #ffffff , 103px 1697px rgb(248, 248, 239) , 1267px 1427px rgb(163, 185, 255) , 149px 498px #ffffff , 1662px 1488px rgb(163, 185, 255) , 1193px 990px #ffffff , 961px 678px rgb(163, 185, 255) , 1972px 706px #ffffff , 423px 845px #ffffff , 1726px 141px rgb(163, 185, 255) , 1128px 1929px #ffffff , 1439px 1413px rgb(163, 185, 255) , 690px 81px rgb(163, 185, 255) , 1451px 1621px #ffffff , 54px 829px rgb(248, 248, 239) , 1946px 1808px rgb(163, 185, 255) , 1220px 1745px rgb(248, 248, 239) , 1446px 1860px rgb(248, 248, 239) , 1204px 1344px #ffffff , 1233px 82px #ffffff , 565px 1317px #ffffff , 600px 610px rgb(163, 185, 255) , 879px 1381px rgb(248, 248, 239) , 1756px 461px #ffffff , 1657px 1496px rgb(248, 248, 239) , 53px 1280px #ffffff , 1941px 984px rgb(248, 248, 239) , 1083px 483px #ffffff , 729px 1071px rgb(163, 185, 255) , 973px 609px rgb(248, 248, 239) , 685px 1898px rgb(163, 185, 255) , 323px 1735px rgb(248, 248, 239) , 1906px 978px #ffffff , 830px 1759px rgb(163, 185, 255) , 1223px 152px #ffffff , 368px 644px rgb(163, 185, 255) , 1224px 359px #ffffff , 1419px 1999px rgb(248, 248, 239) , 1102px 1723px rgb(248, 248, 239) , 1002px 611px rgb(163, 185, 255) , 444px 567px rgb(163, 185, 255) , 15px 1140px rgb(248, 248, 239) , 1120px 1444px #ffffff , 358px 1961px #ffffff , 1568px 9px #ffffff , 1935px 894px rgb(163, 185, 255) , 638px 193px rgb(248, 248, 239) , 896px 35px #ffffff , 1573px 354px rgb(163, 185, 255) , 1067px 818px rgb(248, 248, 239) , 1252px 1607px #ffffff , 1353px 1348px rgb(248, 248, 239) , 1334px 415px #ffffff , 760px 560px #ffffff , 1313px 124px rgb(248, 248, 239) , 416px 921px rgb(163, 185, 255) , 1655px 1553px rgb(163, 185, 255) , 1679px 1664px rgb(248, 248, 239) , 846px 1028px rgb(248, 248, 239) , 1140px 1838px #ffffff , 1195px 1225px rgb(163, 185, 255) , 168px 229px rgb(163, 185, 255) , 1954px 728px #ffffff , 92px 806px rgb(163, 185, 255) , 1172px 901px #ffffff , 957px 1016px rgb(248, 248, 239) , 1108px 1975px rgb(163, 185, 255) , 1390px 1191px #ffffff , 1229px 521px rgb(163, 185, 255) , 1851px 626px rgb(163, 185, 255) , 37px 1375px #ffffff , 54px 1173px #ffffff , 1025px 196px rgb(248, 248, 239) , 1734px 414px #ffffff , 1147px 1734px rgb(248, 248, 239) , 1532px 1974px #ffffff;
  height: 1px;
  width: 1px;
}
.Skills .tabs {
  width: 100%;
}
.Skills .tabs .tabs-navigation button {
  font-size: 1.2em;
}
@media only screen and (max-width: 600px) {
  .Skills .tabs .tabs-navigation .tabs-tab {
    margin: 0 15px;
    padding: 0;
  }
}
.Skills .tabs .tabs-content {
  color: #ffffff;
  font-size: 1.75em;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo .Skills__Container__Skill__Name {
  font-size: 0.7em;
  margin: 0 50px;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo .Skills__Container__Skill__Logo {
  margin-bottom: 15px;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Name-Logo .Skills__Container__Skill__Logo img {
  width: 40%;
  max-height: 350px;
}
.Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill .Skills__Container__Skill__Rating {
  width: 60%;
}
@media only screen and (max-width: 600px) {
  .Skills .tabs .tabs-content .Skills__Container .Skills__Container__Skill:last-of-type {
    margin-bottom: 50px;
  }
}
.Skills .Stars {
  color: #fdd43b;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: center;
  letter-spacing: 15px;
}
@media only screen and (max-width: 600px) {
  .Skills .Stars {
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 916px) {
  .Skills .Stars {
    font-size: 1.2em;
  }
}
.Skills .Stars .Stars--Avoid-Wrap {
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  font-family: gill-sans-nova, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/*# sourceMappingURL=index.css.map */
