@charset "UTF-8";
a, button {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
  color: #686868;
  margin: 20px;
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  margin: 20px;
  text-align: center;
}

.Section {
  color: #686868;
  font-size: 1.2em;
}

.dev-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .dev-grid {
    flex-direction: column;
    flex-wrap: inherit;
  }
}

.dev-grid-half {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .dev-grid-half {
    flex-direction: column;
    flex-wrap: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .dev-grid-half {
    height: 100vh;
  }
}

.dev-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-image: repeating-linear-gradient(-16deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(74deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(164deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(254deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px);
  background-size: 0px 100%, 100% 0px, 1px 110%, 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
  width: 50vw;
}
.dev-grid-cell .dev-grid-measurement-right {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  right: -10px;
  transform: rotate(270deg);
}
.dev-grid-cell .dev-grid-measurement-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  left: -10px;
  transform: rotate(90deg);
}
.dev-grid-cell .dev-grid-measurement-bottom {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  bottom: 5px;
}
.dev-grid-cell .dev-grid-measurement-top {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  top: 5px;
  transform: rotate(180deg);
}
.dev-grid-cell .dev-grid-margin-top-left-corner-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell .dev-grid-margin-bottom-left-corner-down {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
}
.dev-grid-cell .dev-grid-margin-center-up {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
}
.dev-grid-cell .dev-grid-margin-between {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell .dev-grid-measurement-right::after, .dev-grid-cell .dev-grid-measurement-right::before,
.dev-grid-cell .dev-grid-measurement-left::after, .dev-grid-cell .dev-grid-measurement-left::before,
.dev-grid-cell .dev-grid-measurement-top::after, .dev-grid-cell .dev-grid-measurement-top::before,
.dev-grid-cell .dev-grid-measurement-bottom::after, .dev-grid-cell .dev-grid-measurement-bottom::before {
  content: "—";
  opacity: 0.5;
}
.dev-grid-cell .dev-grid-margin-top-left-corner-left:after, .dev-grid-cell .dev-grid-margin-top-left-corner-left:before,
.dev-grid-cell .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-cell .dev-grid-margin-bottom-left-corner-down:before,
.dev-grid-cell .dev-grid-margin-center-up:after, .dev-grid-cell .dev-grid-margin-center-up:before,
.dev-grid-cell .dev-grid-margin-between:after, .dev-grid-cell .dev-grid-margin-between:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto;
  opacity: 0.5;
}
@media only screen and (max-width: 375px) {
  .dev-grid-cell {
    height: 100vh;
    width: 100vw;
  }
}

.dev-grid-cell-three-quarters-height {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-image: repeating-linear-gradient(-16deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(74deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(164deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(254deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px);
  background-size: 0px 100%, 100% 0px, 1px 110%, 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 75vh;
  width: 100vw;
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-right {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  right: -10px;
  transform: rotate(270deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  left: -10px;
  transform: rotate(90deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-bottom {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  bottom: 5px;
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-top {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  top: 5px;
  transform: rotate(180deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-top-left-corner-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-bottom-left-corner-down {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-center-up {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-between {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-three-quarters-height .dev-grid-measurement-right::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-right::before,
.dev-grid-cell-three-quarters-height .dev-grid-measurement-left::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-left::before,
.dev-grid-cell-three-quarters-height .dev-grid-measurement-top::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-top::before,
.dev-grid-cell-three-quarters-height .dev-grid-measurement-bottom::after, .dev-grid-cell-three-quarters-height .dev-grid-measurement-bottom::before {
  content: "—";
  opacity: 0.5;
}
.dev-grid-cell-three-quarters-height .dev-grid-margin-top-left-corner-left:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-top-left-corner-left:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-bottom-left-corner-down:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-center-up:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-center-up:before,
.dev-grid-cell-three-quarters-height .dev-grid-margin-between:after, .dev-grid-cell-three-quarters-height .dev-grid-margin-between:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto;
  opacity: 0.5;
}

.dev-grid-cell-one-quarter-height {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-image: repeating-linear-gradient(-16deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(74deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(164deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px), repeating-linear-gradient(254deg, #c7c7c7, #c7c7c7 16px, transparent 16px, transparent 36px, #c7c7c7 36px);
  background-size: 0px 100%, 100% 0px, 1px 110%, 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 25vh;
  width: 100vw;
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-right {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  right: -10px;
  transform: rotate(270deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  left: -10px;
  transform: rotate(90deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-bottom {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  bottom: 5px;
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-top {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  top: 5px;
  transform: rotate(180deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-top-left-corner-left {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-bottom-left-corner-down {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-center-up {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-between {
  position: absolute;
  color: #c7c7c7;
  font-size: 10px;
  display: flex;
  flex-direction: row;
}
.dev-grid-cell-one-quarter-height .dev-grid-measurement-right::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-right::before,
.dev-grid-cell-one-quarter-height .dev-grid-measurement-left::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-left::before,
.dev-grid-cell-one-quarter-height .dev-grid-measurement-top::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-top::before,
.dev-grid-cell-one-quarter-height .dev-grid-measurement-bottom::after, .dev-grid-cell-one-quarter-height .dev-grid-measurement-bottom::before {
  content: "—";
  opacity: 0.5;
}
.dev-grid-cell-one-quarter-height .dev-grid-margin-top-left-corner-left:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-top-left-corner-left:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-bottom-left-corner-down:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-center-up:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-center-up:before,
.dev-grid-cell-one-quarter-height .dev-grid-margin-between:after, .dev-grid-cell-one-quarter-height .dev-grid-margin-between:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c7c7c7;
  margin: auto;
  opacity: 0.5;
}

/**
 * Based on https://codepen.io/saransh/pen/BKJun
 */
/**
 * Generate n random elements.
 */
/**
 * Send items upwards.
 */
@keyframes upwards-journey {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/* Style the buttons that are used to open the tab content */
.tabs {
  display: flex;
  align-items: center;
  text-align: center;
}
.tabs .tabs-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.tabs .tabs-navigation button {
  background: inherit;
  border: none;
  color: #a8a8a8;
  cursor: pointer;
  margin: 0 30px;
  outline: none;
  padding: 15px;
  transition: 0.3s ease;
}
.tabs .tabs-navigation button::after {
  background: #a8a8a8;
  content: "";
  display: block;
  height: 2px;
  margin-top: 5px;
  transition: 0.2s ease;
  width: 0;
}
.tabs .tabs-navigation button:hover {
  color: #a8a8a8;
}
.tabs .tabs-navigation button.active {
  color: #ffffff;
}
.tabs .tabs-navigation button.active::after {
  background: #ffffff;
  width: 100%;
}

.tooltip {
  position: relative;
}
.tooltip .tip {
  background-color: #ffffff;
  border-radius: 10px;
  color: #a8a8a8;
  left: 29px;
  opacity: 0;
  padding: 15px 30px;
  position: absolute;
  top: -15px;
  transition: opacity ease-in-out 0.3s;
  display: none;
  white-space: nowrap;
  width: 70px;
}
.tooltip:after {
  border: solid 7px transparent;
  border-right-color: #FFF;
  content: "";
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transition: opacity ease-in-out 0.3s;
  display: none;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover .tip {
  display: inline;
  opacity: 1;
  visibility: initial;
}
.tooltip:hover:after {
  display: block;
  opacity: 1;
  visibility: initial;
}

#contact {
  display: flex;
  justify-content: center;
}
#contact .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}
@media only screen and (max-width: 600px) {
  #contact .contact-container {
    flex-direction: column;
  }
}
#contact .contact-container .contact-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
}
@media only screen and (max-width: 600px) {
  #contact .contact-container .contact-container-text {
    margin-right: 0;
  }
}
#contact .contact-container .contact-container-text p {
  font-size: 1.4em;
  margin-left: 0;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  #contact .contact-container .contact-container-text p {
    text-align: center;
  }
}
#contact .contact-container .contact-container-icons {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
}
@media only screen and (max-width: 600px) {
  #contact .contact-container .contact-container-icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#contact .contact-container .contact-container-icons img {
  width: 75px;
}
@media only screen and (max-width: 600px) {
  #contact .contact-container .contact-container-icons img {
    margin: 10px;
  }
}

#education {
  margin: 20px;
  text-align: center;
}
#education .education-container {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
  #education .education-container {
    flex-wrap: wrap;
  }
}
#education .education-container div {
  margin: 5px;
}
#education .education-container .education-container-qualification {
  -webkit-box-shadow: 0px 6px 13px 0px #dbdbdb;
  -moz-box-shadow: 0px 6px 13px 0px #dbdbdb;
  box-shadow: 0px 6px 13px 0px #dbdbdb;
  margin: 10px;
  max-width: 500px;
  padding: 10px 10px 40px 10px;
  width: 45%;
}
@media only screen and (max-width: 600px) {
  #education .education-container .education-container-qualification {
    width: 95%;
  }
}
#education .education-container .education-container-qualification .education-container-qualification-logo img {
  max-height: 300px;
  max-width: 90%;
  padding: 10px 10px 40px 10px;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 800px) {
  #education .education-container .education-container-qualification .education-container-qualification-logo img {
    max-height: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  #education .education-container .education-container-qualification .education-container-qualification-logo img {
    height: 200px;
  }
}

.experience .experience-job-company-container {
  background-color: turquoise;
  border-radius: 25px;
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 22px 6px #f4f4f4;
  box-shadow: 0px 0px 22px 6px #f4f4f4;
  transition: transform 0.25s ease-out, box-shadow 0.25s ease-in;
  cursor: pointer;
  position: relative;
}
.experience .experience-job-company-container:hover {
  transform: perspective(500px) rotate3d(1, 1, 15, 10deg);
  box-shadow: 0px 0px 22px 6px #e4e4e4;
}
.experience .experience-job-company-container.experience-job-intercom {
  background: white;
  background: linear-gradient(180deg, white 0%, whitesmoke 80%);
}
.experience .experience-job-company-container.experience-job-stripe {
  background-color: #a95eff;
}
.experience .experience-job-company-container.experience-job-twitter {
  background: linear-gradient(180deg, #1da1f2 0%, #e1e8ed 81%);
}
.experience .experience-job-company-container.experience-job-mastercard {
  background: linear-gradient(180deg, #FCE38A 0%, #F38181 100%);
}
.experience canvas {
  position: absolute;
}
.experience img {
  width: 50%;
  height: 50%;
  z-index: 1;
}
.experience #gradient-canvas-stripe {
  width: 100%;
  height: 100%;
  --gradient-color-1: #a95eff;
  --gradient-color-4: #6E40AA;
  --gradient-color-3: #5DADFB;
  --gradient-color-2: #f88a4a;
  border-radius: 25px;
}
.experience h3, .experience h4, .experience h5 {
  color: #ffffff;
  margin-left: 0;
  text-align: left;
  font-weight: 500;
}
.experience p {
  color: #ffffff;
  margin-left: 0;
  text-align: left;
  font-weight: 100;
}
.experience h3 {
  margin-top: 40px;
}
.experience h4 {
  font-size: 0.9em;
  margin-top: 5px;
}
.experience h4 .fas {
  margin-left: 5px;
}
.experience h5 {
  font-size: 1.1em;
}
.experience .experience-footer {
  color: #ffffff;
  font-size: 1.2em;
  margin: 50px 0;
  text-align: center;
}
.experience .experience-job sub:after {
  content: ", ";
}
.experience .experience-job sub:last-of-type:after {
  content: "";
}
.experience .experience-job .experience-job-company {
  display: flex;
  align-items: center;
}
.experience .experience-job .experience-job-company img {
  display: none;
  height: 40px;
  margin-left: 15px;
  vertical-align: middle;
}
html[data-browser*=Android] .experience .experience-job .experience-job-company img {
  display: inline;
}
html[data-browser*=iPhone] .experience .experience-job .experience-job-company img {
  display: inline;
}
html[data-browser*=iPad] .experience .experience-job .experience-job-company img {
  display: inline;
}

#header {
  background-color: #efefef;
}
#header h1, #header h2, #header h3, #header h4 {
  color: #ffffff;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}
#header .header-container {
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0px 0px 19px -5px rgba(0, 0, 0, 0.34);
  display: flex;
  bottom: 0;
  top: 0;
  background-size: cover;
  font-size: 1.4em;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 800px) {
  #header .header-container {
    background-attachment: scroll;
  }
}
#header .header-text-overlay {
  position: absolute;
}
#header .header-0 {
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-1.jpg);
  background-position: 75% 30%;
}
#header .header-0 .header-text-overlay {
  bottom: 0;
  right: 0;
  text-align: right;
}
#header .header-1 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 100%), url(img/landing-2.jpg);
  background-position: 100% 50%;
}
#header .header-1 .header-text-overlay {
  bottom: 0;
}
#header .header-2 {
  justify-content: center;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-3.jpg);
  background-position: 50% 90%;
}
#header .header-2 .header-text-overlay {
  bottom: 0;
}
#header .header-3 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-4.jpg);
  background-position: 57% 50%;
}
#header .header-4 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-5.jpg);
  background-position: 80% 50%;
  justify-content: flex-end;
}
#header .header-4 .header-text-overlay {
  text-align: right;
}
#header .header-5 {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/landing-6.jpg);
  background-position: 50% 85%;
}
#header .header-6 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 33%, rgba(64, 64, 64, 0.5) 100%), url(img/landing-7.jpg);
  background-position: 40% 50%;
  justify-content: flex-end;
}
#header .header-6 .header-text-overlay {
  right: 0;
  text-align: right;
}
#header .header-7 {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(64, 64, 64, 0.1) 100%), url(img/landing-8.jpg);
  background-position: 70% 50%;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 800px) {
  #header .header-1 {
    background-position: 72% 85%;
  }
  #header .header-2 {
    align-items: center;
  }
  #header .header-2 .header-text-overlay {
    margin-bottom: 150px;
    bottom: unset;
  }
  #header .header-3 {
    background-position: 80% 50%;
  }
  #header .header-4 {
    background-position: 80% 50%;
  }
  #header .header-5 {
    background-position: 60% 50%;
  }
  #header .header-6 {
    background-position: 30% 50%;
  }
  #header .header-6 .header-text-overlay {
    bottom: 0;
  }
  #header .header-7 {
    justify-content: flex-end;
  }
  #header .header-7 .header-text-overlay {
    bottom: 0;
    text-align: right;
  }
}
@media only screen and (max-width: 600px) {
  #header .header-0 {
    background-position: 70% 30%;
    text-align: left;
  }
  #header .header-1 .header-text-overlay {
    top: 0;
  }
  #header .header-2 {
    justify-content: flex-start;
    font-size: 1.2em;
  }
  #header .header-2 .header-text-overlay {
    top: 40px;
    text-align: center;
  }
  #header .header-3 {
    justify-content: flex-end;
    background-position: 83% 50%;
    font-size: 1.1em;
  }
  #header .header-3 .header-text-overlay {
    text-align: center;
  }
  #header .header-4, #header .header-6 {
    font-size: 1.2em;
  }
  #header .header-5 {
    font-size: 1.1em;
  }
  #header .header-7 {
    background-position: 80% 50%;
  }
}

.chartjs-tooltip {
  padding: 10px;
  margin: 5px;
  border-radius: 0px 10px 10px 10px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
  min-width: 250px;
  max-width: 250px;
  opacity: 1 !important;
}
.chartjs-tooltip .fa-star {
  color: #fdd43b;
}

.chartjs-tooltip.right-pointer {
  border-radius: 10px 0px 10px 10px;
}

#learning .learning-text-container {
  flex-direction: column;
}
#learning .learning-text-container {
  font-size: 1.1em;
  text-align: center;
}

#location {
  opacity: 0.75;
  font-size: 1.6em;
}
#location .dev-grid {
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  #location .dev-grid {
    flex-direction: column;
  }
}
#location .location-text {
  flex-direction: column;
}
#location .location-text p {
  margin: 20px 60px;
}
#location .location-text p:last-of-type {
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 800px) {
  #location .location-text {
    font-size: 0.9em;
  }
}
#location .map {
  -webkit-box-shadow: 0px 6px 13px 0px #dbdbdb;
  -moz-box-shadow: 0px 6px 13px 0px #dbdbdb;
  box-shadow: 0px 6px 13px 0px #dbdbdb;
  height: 75%;
  width: 75%;
}
@media only screen and (max-width: 600px), screen and (min-width: 601px) and (max-width: 800px) {
  #location .map {
    width: 90%;
  }
}

#skills {
  margin-bottom: 0;
  position: relative;
}
#skills .floaty-container {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  background-color: #26262b;
  background: linear-gradient(180deg, #131314 0%, #28272c 75%);
  height: 100% !important;
}
@media only screen and (max-width: 600px) {
  #skills .floaty-container {
    height: 200px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  #skills .floaty-container {
    height: 250px;
  }
}
#skills .floaty-container .floaty-1 {
  position: absolute;
  top: 0;
  z-index: -1;
  animation: upwards-journey 45s linear infinite;
  box-shadow: 1146px 1158px #ffffff , 646px 116px #f8f8ef , 1000px 785px #f8f8ef , 1342px 348px #f8f8ef , 346px 1610px #f8f8ef , 398px 1348px #f8f8ef , 1430px 1906px #a3b9ff , 1264px 549px #f8f8ef , 1267px 289px #ffffff , 1914px 1044px #ffffff , 548px 679px #f8f8ef , 1734px 1146px #ffffff , 542px 1007px #f8f8ef , 1274px 1920px #ffffff , 1649px 740px #f8f8ef , 1849px 1686px #f8f8ef , 1300px 824px #ffffff , 760px 1436px #f8f8ef , 533px 1150px #a3b9ff , 1076px 1693px #f8f8ef , 117px 1177px #ffffff , 940px 1063px #a3b9ff , 1831px 1766px #a3b9ff , 1355px 1481px #f8f8ef , 1890px 1333px #a3b9ff , 881px 1290px #f8f8ef , 1519px 1562px #a3b9ff , 9px 340px #a3b9ff , 76px 777px #f8f8ef , 137px 696px #a3b9ff , 1081px 1959px #ffffff , 133px 122px #ffffff , 1445px 1567px #f8f8ef , 543px 307px #a3b9ff , 229px 29px #ffffff , 1934px 1715px #a3b9ff , 1660px 733px #a3b9ff , 1184px 1031px #f8f8ef , 940px 1479px #f8f8ef , 1330px 1889px #a3b9ff , 1860px 1408px #ffffff , 1886px 475px #a3b9ff , 1142px 931px #a3b9ff , 12px 940px #f8f8ef , 579px 1955px #a3b9ff , 1191px 86px #ffffff , 172px 1452px #ffffff , 610px 926px #ffffff , 1150px 1388px #f8f8ef , 1338px 1046px #a3b9ff;
  height: 3px;
  width: 3px;
}
#skills .floaty-container .floaty-2 {
  position: absolute;
  top: 0;
  z-index: -1;
  animation: upwards-journey 35s linear infinite;
  box-shadow: 331px 1668px #a3b9ff , 1529px 607px #a3b9ff , 557px 1327px #a3b9ff , 1475px 464px #ffffff , 1446px 391px #f8f8ef , 1081px 1788px #a3b9ff , 1971px 1184px #ffffff , 1056px 973px #f8f8ef , 439px 224px #f8f8ef , 202px 1660px #ffffff , 24px 757px #ffffff , 212px 717px #ffffff , 299px 906px #a3b9ff , 1868px 1907px #f8f8ef , 81px 1817px #f8f8ef , 1913px 1248px #ffffff , 900px 1071px #ffffff , 227px 1039px #ffffff , 1016px 263px #a3b9ff , 1492px 1957px #a3b9ff , 441px 13px #ffffff , 1206px 1506px #ffffff , 208px 741px #ffffff , 1692px 2000px #a3b9ff , 1652px 906px #a3b9ff , 828px 1728px #f8f8ef , 1209px 1151px #ffffff , 1065px 1353px #a3b9ff , 1381px 1604px #a3b9ff , 806px 549px #a3b9ff , 834px 673px #ffffff , 1210px 591px #ffffff , 1250px 1530px #f8f8ef , 1805px 776px #ffffff , 707px 1805px #f8f8ef , 1242px 777px #f8f8ef , 1600px 322px #ffffff , 978px 681px #ffffff , 1051px 374px #a3b9ff , 1381px 71px #a3b9ff , 1566px 1960px #a3b9ff , 1710px 124px #a3b9ff , 1877px 615px #f8f8ef , 1545px 1301px #ffffff , 1912px 809px #ffffff , 1329px 1003px #ffffff , 1746px 1322px #f8f8ef , 1753px 1522px #a3b9ff , 611px 975px #ffffff , 1972px 1259px #ffffff , 1764px 1586px #a3b9ff , 918px 426px #ffffff , 112px 1487px #f8f8ef , 533px 904px #a3b9ff , 301px 1612px #ffffff , 778px 181px #a3b9ff , 1260px 1696px #f8f8ef , 779px 1536px #ffffff , 1974px 1047px #ffffff , 1409px 1583px #f8f8ef , 44px 495px #f8f8ef , 1573px 81px #a3b9ff , 893px 1717px #ffffff , 1861px 1897px #ffffff , 1081px 1839px #f8f8ef , 1381px 1036px #ffffff , 575px 1661px #ffffff , 120px 853px #a3b9ff , 1482px 1960px #f8f8ef , 1297px 335px #a3b9ff , 1972px 1891px #ffffff , 922px 163px #a3b9ff , 1299px 164px #ffffff , 173px 1395px #a3b9ff , 1259px 912px #ffffff , 1136px 389px #a3b9ff , 623px 858px #a3b9ff , 38px 966px #a3b9ff , 1128px 1786px #f8f8ef , 351px 624px #f8f8ef , 449px 1651px #a3b9ff , 1399px 1683px #ffffff , 1954px 1650px #a3b9ff , 445px 350px #a3b9ff , 398px 1303px #a3b9ff , 1943px 457px #ffffff , 428px 192px #a3b9ff , 1181px 292px #f8f8ef , 1798px 514px #a3b9ff , 1847px 61px #a3b9ff , 393px 755px #f8f8ef , 1082px 807px #a3b9ff , 378px 1647px #ffffff , 1097px 1223px #ffffff , 497px 300px #f8f8ef , 598px 649px #f8f8ef , 551px 1181px #a3b9ff , 1678px 1793px #f8f8ef , 1456px 649px #ffffff , 1981px 1613px #a3b9ff , 555px 821px #a3b9ff , 743px 254px #ffffff , 498px 1014px #a3b9ff , 1136px 1404px #a3b9ff , 1256px 659px #a3b9ff , 1721px 1946px #a3b9ff , 290px 822px #a3b9ff , 330px 1672px #a3b9ff , 263px 1390px #a3b9ff , 1913px 1958px #ffffff , 587px 1511px #f8f8ef , 911px 1233px #a3b9ff , 1637px 1354px #ffffff , 1036px 1693px #ffffff , 107px 38px #a3b9ff , 838px 1203px #f8f8ef , 1897px 618px #a3b9ff , 825px 802px #ffffff , 1654px 473px #f8f8ef , 958px 1142px #a3b9ff , 248px 723px #f8f8ef , 1808px 554px #a3b9ff , 406px 1834px #a3b9ff , 1305px 535px #f8f8ef , 412px 1003px #a3b9ff , 898px 1552px #f8f8ef , 1626px 45px #f8f8ef , 1408px 540px #ffffff , 1405px 1721px #f8f8ef , 194px 720px #ffffff , 1933px 598px #ffffff , 842px 851px #ffffff , 1792px 1644px #a3b9ff , 1955px 61px #f8f8ef , 210px 1545px #f8f8ef , 1267px 1729px #a3b9ff , 1295px 854px #a3b9ff , 690px 1383px #ffffff , 1793px 1337px #f8f8ef , 170px 1830px #ffffff , 476px 983px #a3b9ff , 1388px 708px #f8f8ef , 1172px 1475px #a3b9ff , 193px 798px #a3b9ff , 145px 230px #f8f8ef , 730px 758px #f8f8ef , 488px 498px #ffffff , 628px 507px #a3b9ff , 596px 123px #f8f8ef , 1245px 544px #f8f8ef;
  height: 2px;
  width: 2px;
}
#skills .floaty-container .floaty-3 {
  animation: upwards-journey 25s linear infinite;
  box-shadow: 823px 456px #f8f8ef , 1223px 1491px #f8f8ef , 497px 1679px #ffffff , 316px 1006px #f8f8ef , 1025px 1114px #a3b9ff , 204px 883px #ffffff , 846px 84px #a3b9ff , 760px 1552px #a3b9ff , 1593px 1260px #f8f8ef , 1183px 794px #a3b9ff , 1055px 1235px #f8f8ef , 1101px 159px #f8f8ef , 80px 852px #a3b9ff , 1329px 1599px #f8f8ef , 795px 1221px #a3b9ff , 657px 44px #f8f8ef , 535px 1132px #a3b9ff , 551px 1565px #a3b9ff , 1775px 1681px #a3b9ff , 827px 1499px #a3b9ff , 1167px 1564px #ffffff , 726px 1378px #ffffff , 1296px 36px #f8f8ef , 1226px 4px #f8f8ef , 118px 295px #a3b9ff , 1829px 274px #f8f8ef , 1824px 930px #f8f8ef , 1537px 443px #a3b9ff , 1686px 1290px #a3b9ff , 777px 1826px #ffffff , 15px 37px #a3b9ff , 445px 1139px #ffffff , 592px 1532px #ffffff , 134px 1009px #ffffff , 1990px 117px #a3b9ff , 1937px 248px #a3b9ff , 608px 1258px #f8f8ef , 1779px 1591px #ffffff , 784px 80px #a3b9ff , 282px 371px #a3b9ff , 1854px 1006px #a3b9ff , 1747px 1566px #f8f8ef , 256px 247px #f8f8ef , 1259px 856px #ffffff , 1859px 15px #f8f8ef , 425px 922px #ffffff , 418px 1425px #a3b9ff , 491px 1639px #a3b9ff , 522px 1295px #a3b9ff , 323px 1657px #a3b9ff , 1686px 1409px #f8f8ef , 1867px 1919px #ffffff , 79px 1557px #f8f8ef , 1205px 1432px #a3b9ff , 229px 60px #a3b9ff , 1893px 1395px #f8f8ef , 1533px 994px #ffffff , 767px 696px #f8f8ef , 1500px 612px #f8f8ef , 1440px 1980px #ffffff , 908px 1006px #f8f8ef , 1318px 104px #f8f8ef , 881px 633px #a3b9ff , 100px 1567px #a3b9ff , 318px 1073px #ffffff , 431px 1940px #f8f8ef , 970px 770px #ffffff , 668px 374px #a3b9ff , 1951px 150px #ffffff , 994px 1677px #f8f8ef , 771px 108px #ffffff , 1720px 572px #f8f8ef , 1554px 580px #f8f8ef , 1673px 1150px #ffffff , 1198px 1872px #ffffff , 620px 1628px #ffffff , 56px 364px #a3b9ff , 1280px 566px #f8f8ef , 1349px 1055px #a3b9ff , 1961px 1287px #a3b9ff , 888px 519px #f8f8ef , 1047px 1867px #f8f8ef , 1286px 157px #ffffff , 1762px 947px #f8f8ef , 1482px 1154px #ffffff , 845px 25px #ffffff , 990px 296px #ffffff , 210px 997px #f8f8ef , 742px 898px #ffffff , 1797px 433px #ffffff , 1655px 1723px #a3b9ff , 719px 1740px #ffffff , 1960px 187px #f8f8ef , 854px 1496px #ffffff , 973px 14px #f8f8ef , 1523px 1294px #ffffff , 1405px 881px #f8f8ef , 331px 1847px #ffffff , 1681px 1407px #ffffff , 33px 11px #f8f8ef , 1602px 355px #f8f8ef , 1484px 51px #ffffff , 1075px 1688px #a3b9ff , 1403px 127px #ffffff , 764px 396px #f8f8ef , 1511px 434px #f8f8ef , 1757px 901px #f8f8ef , 1407px 806px #f8f8ef , 1721px 1452px #f8f8ef , 1556px 95px #ffffff , 218px 141px #f8f8ef , 1758px 1388px #ffffff , 546px 122px #ffffff , 837px 662px #f8f8ef , 91px 808px #a3b9ff , 1875px 1257px #a3b9ff , 1932px 294px #a3b9ff , 1248px 821px #a3b9ff , 473px 158px #a3b9ff , 51px 1771px #f8f8ef , 509px 1015px #f8f8ef , 1407px 1915px #ffffff , 1486px 1363px #a3b9ff , 250px 1584px #f8f8ef , 288px 1341px #a3b9ff , 594px 1478px #f8f8ef , 111px 1492px #f8f8ef , 1091px 286px #ffffff , 570px 374px #a3b9ff , 876px 1388px #f8f8ef , 1024px 464px #a3b9ff , 982px 405px #f8f8ef , 862px 1639px #f8f8ef , 59px 117px #a3b9ff , 1104px 120px #ffffff , 1195px 794px #ffffff , 1760px 1788px #ffffff , 1025px 1422px #ffffff , 158px 391px #ffffff , 437px 943px #f8f8ef , 1546px 1652px #f8f8ef , 426px 340px #a3b9ff , 1503px 1950px #ffffff , 1600px 1059px #a3b9ff , 356px 952px #a3b9ff , 1362px 1766px #f8f8ef , 1470px 906px #a3b9ff , 1015px 1535px #a3b9ff , 1821px 32px #f8f8ef , 1396px 106px #a3b9ff , 677px 495px #a3b9ff , 704px 1555px #f8f8ef , 473px 873px #f8f8ef , 1163px 484px #f8f8ef , 1481px 1449px #a3b9ff , 1371px 1601px #ffffff , 777px 173px #f8f8ef , 114px 1636px #a3b9ff , 714px 508px #f8f8ef , 1445px 578px #a3b9ff , 251px 1836px #ffffff , 649px 131px #ffffff , 1723px 914px #f8f8ef , 668px 1668px #a3b9ff , 566px 1586px #f8f8ef , 1310px 1068px #ffffff , 135px 349px #ffffff , 1494px 1088px #ffffff , 931px 367px #ffffff , 1156px 1116px #f8f8ef , 1354px 269px #a3b9ff , 995px 1427px #f8f8ef , 391px 1798px #f8f8ef , 1053px 812px #ffffff , 1001px 1079px #f8f8ef , 956px 1156px #a3b9ff , 1411px 934px #a3b9ff , 396px 1313px #a3b9ff , 18px 794px #ffffff , 1928px 149px #ffffff , 879px 1677px #f8f8ef , 460px 401px #f8f8ef , 302px 1706px #ffffff , 1069px 1262px #ffffff , 771px 1616px #a3b9ff , 1967px 1120px #f8f8ef , 126px 1360px #a3b9ff , 1552px 278px #a3b9ff , 450px 128px #ffffff , 1008px 262px #a3b9ff , 445px 1093px #ffffff , 417px 493px #a3b9ff , 437px 1056px #a3b9ff , 1641px 448px #a3b9ff , 749px 961px #a3b9ff , 690px 87px #a3b9ff , 117px 276px #f8f8ef , 1952px 1871px #f8f8ef , 1034px 193px #a3b9ff , 398px 95px #a3b9ff;
  height: 1px;
  width: 1px;
}
#skills .tabs {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #skills .tabs .tabs-navigation {
    margin-bottom: -50px;
  }
}
#skills .tabs .tabs-navigation button {
  font-size: 1.2em;
}
@media only screen and (max-width: 600px) {
  #skills .tabs .tabs-navigation .tabs-tab {
    margin: 0 15px;
    padding: 0;
  }
}
#skills .tabs .tabs-content {
  color: #ffffff;
  font-size: 1.75em;
}
#skills .tabs .tabs-content .skills-container .skills-container-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#skills .tabs .tabs-content .skills-container .skills-container-skill .skills-container-skill-name-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
#skills .tabs .tabs-content .skills-container .skills-container-skill .skills-container-skill-name {
  font-size: 0.7em;
  margin: 0 50px;
}
#skills .tabs .tabs-content .skills-container .skills-container-skill .skills-container-skill-logo {
  margin-bottom: 15px;
}
#skills .tabs .tabs-content .skills-container .skills-container-skill .skills-container-skill-logo img {
  width: 40%;
  max-height: 350px;
}
#skills .tabs .tabs-content .skills-container .skills-container-skill .skills-container-skill-rating {
  width: 60%;
}
#skills .stars {
  color: #fdd43b;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5em;
  justify-content: center;
  letter-spacing: 15px;
}
@media only screen and (max-width: 600px) {
  #skills .stars {
    font-size: 1em;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  #skills .stars {
    font-size: 1.2em;
  }
}
#skills .stars .avoid-wrap {
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  font-family: gill-sans-nova, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/*# sourceMappingURL=index.css.map */
