#contact {
  display: flex;
  justify-content: center;

  .contact-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

    @media #{$phone} {
      flex-direction: column;
    }

    .contact-container-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 100px;

      @media #{$phone} {
        margin-right: 0;
      }

      p {
        font-size: 1.4em;
        margin-left: 0;
        text-align: left;

        @media #{$phone} {
          text-align: center;
        }
      }
    }

    .contact-container-icons {
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 15px;

      @media #{$phone} {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      img {
        width: 75px;

        @media #{$phone} {
          margin: 10px;
        }
      }
    }
  }
}