.contact {
  .contact-container-text {
    flex-direction: column;

    @media #{$phone}, #{tablet} {
      font-size: 0.8em;
    }
  }

  .contact-container-icons {
    flex-wrap: wrap;

    .contact-container-icon {
      min-width: 33%;

      @media #{$phone}, #{tablet} {
        min-width: 50%;
      }

      img {
        height: 150px;
        max-width: 90%;
        min-height: 100px;

        @media #{$phone}, #{tablet} {
          height: 100px;
          max-width: 75%;
        }
      }
    }
  }
}