.contact {
  .contact-container-text {
    flex-direction: column;

    p {
      @include horizontal-text();
    }
  }

  .contact-container-icons {
    flex-wrap: wrap;

    .contact-container-icon {
      min-width: 33%;

      @media #{$phone}, #{tablet} {
        min-width: 50%;
      }

      @media #{$letterbox} {
        min-width: 20%;
      }

      img {
        height: 150px;
        max-width: 90%;
        min-height: 100px;

        @media #{$phone}, #{tablet} {
          height: 100px;
          max-width: 75%;
        }

        @media #{$letterbox} {
          height: 50px;
          max-width: 75%;
        }
      }
    }
  }
}