.location {
  opacity: 0.75;
  font-size: 1.6em;

  .dev-grid {
    flex-direction: row;

    @media #{$phone} {
      flex-direction: column;
    }
  }

  .location-text {
    flex-direction: column;

    p {
      @include horizontal-text();
    }
  }

  .map {
    @include slight-shadow();

    height: 75%;
    width: 75%;

    @media #{$phone}, #{$tablet} {
      height: 90%;
      width: 90%;
    }
  }
}