#location {
  opacity: 0.75;
  font-size: 1.6em;

  p:first-of-type {
    margin-bottom: 40px;
  }

  p {
    margin: 40px 12.5% 0 12.5%;
  }

  .map {
    @include slight-shadow();

    height: 400px;
    margin-left: 12.5%;
    width: 75%;

    @media #{$phone}, #{$tablet} {
      width: 90%;
      margin-left: 5%;
    }
  }
}