#location {
  opacity: 0.75;
  font-size: 1.6em;

  .dev-grid {
    flex-direction: row;

    @media #{$phone} {
      flex-direction: column;
    }
  }

  .location-text {
    flex-direction: column;

    p {
      margin: 20px 60px;
    }

    @media #{$phone} {
      font-size: 0.6em;
    }

    @media #{$tablet} {
      font-size: 0.9em;
    }

    p {
      @media #{$phone} {
        margin: 10px 20px;
      }
    }
  }

  .map {
    @include slight-shadow();

    height: 75%;
    width: 75%;

    @media #{$phone}, #{$tablet} {
      height: 90%;
      width: 90%;
    }
  }
}