h2 {
    .dark-text;
    font-size: 4em;
    font-weight: 400;
}

h3 {
    .dark-text;
    font-size: 3em;
    font-weight: 400;
}

.Section {
    .dark-text;
    font-size: 1.2em;
    margin: 20px 0px;
}