/* Style the buttons that are used to open the tab content */
.tabs {
  text-align: center;

  .tabs-navigation {
    text-align: center;

    button {
      background: inherit;
      border: none;
      color: $light-grey;
      cursor: pointer;
      margin: 0 30px;
      outline: none;
      padding: 15px;
      transition: 0.3s ease;
    }

    button::after {
      background: $medium-grey;
      content: '';
      display: block;
      height: 2px;
      margin-top: 5px;
      transition: .2s ease;
      width: 0;
  }

    button:hover {
      color: $medium-grey;
    }

    button.active {
      color: $dark-grey;
    }

    button.active::after {
      background: $dark-grey;
      width: 100%;
    }
  }
}
