$star-cream: rgb(248, 248, 239);
$star-blue: rgb(163, 185, 255);
$star-background: #0e212b;

$animation-background: $star-background;
$animation-palette: [ $white, $star-blue, $star-cream ];

$small-stars: generate-items(1000, $animation-palette);
$medium-stars: generate-items(750, $animation-palette);
$large-stars: generate-items(200, $animation-palette);


#skills {
  margin-bottom: 0;

  .skills-tempo-container {
    display: flex;
    padding: 40px 40px 0 40px;
    position: relative;
    margin-top: 30px;

    @media #{$phone}, #{$tablet} {
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }

    .floaty-container {
      @include floaty-container();
      background-color: $animation-background;
      height: 100% !important;
      padding-bottom: 50px;
      // Generated
      -webkit-box-shadow: inset 0px 0px 179px 0px rgba(0,0,0,0.65);
      -moz-box-shadow: inset 0px 0px 179px 0px rgba(0,0,0,0.65);
      box-shadow: inset 0px 0px 179px 0px rgba(0,0,0,0.65);


      @media #{$phone} {
        height: 200px;
      }

      @media #{$tablet} {
        height: 250px;
      }

      .floaty-1 {
        @include floaty();
        animation: upwards-journey 45s linear infinite;
        box-shadow: $large-stars;
        height: 3px;
        width: 3px;
      }

      .floaty-2 {
        @include floaty();
        animation: upwards-journey 35s linear infinite;
        box-shadow: $medium-stars;
        height: 2px;
        width: 2px;
      }

      .floaty-3 {
        animation: upwards-journey 25s linear infinite;
        box-shadow: $small-stars;
        height: 1px;
        width: 1px;
      }
    }

    .skills-star-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      min-width: 40%;
      text-align: center;

      @media #{$phone} {
        display: none;
      }

      @media #{$tablet} {
        font-size: 2em;
      }
    }

    .skills-text-container {
      color: $white;
      font-size: 1.5em;
      font-weight: 700;

      @media #{$phone}, #{$tablet} {
        font-weight: 500;
      }

      p {
        text-align: left;

        @media #{$phone}, #{$tablet} {
          text-align: center;
        }
      }
    }
  }

  .tabs {
    .tabs-navigation {
      width: 100%;

      button {
        font-size: 1.2em;
      }
    }

    .tabs-content {
      font-size: 1.75em;
      width: 100%;
      white-space: nowrap;

      .skills-container {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 90%;

        @media #{$phone} {
          width: 95%;
        }

        .skills-container-skill {
          align-items: baseline;
          display: flex;
          flex-wrap: wrap;
          margin: 15px;

          @media #{$phone}, #{$tablet} {
            flex-direction: column;
            align-items: center;
          }

          .skills-container-skill-name {
            width: 45%;

            @media #{$phone}, #{$tablet} {
              margin-bottom: 10px;
              width: 100%;
            }
          }

          .skills-container-skill-rating {
            max-width: 55%;

            @media #{$phone}, #{$tablet} {
              max-width: 100%;
            }
          }

          .skills-container-skill-outdated {
            color: $medium-grey;
          }
        }
      }
    }
  }

  .stars {
    color: $golden;
    font-size: 1.8em;
    letter-spacing: 15px;

    @media #{$phone} {
      font-size: 1em;
    }

    @media #{$tablet} {
      font-size: 1.2em;
    }
  }
}