$star-cream: rgb(248, 248, 239);
$star-blue: rgb(163, 185, 255);
$star-background: rgb(38,38,43);

$animation-background: $star-background;
$animation-palette: [ $white, $star-blue, $star-cream ];

$small-stars: generate-items(200, $animation-palette);
$medium-stars: generate-items(150, $animation-palette);
$large-stars: generate-items(50, $animation-palette);


#skills {
  margin-bottom: 0;
  position: relative;

  .floaty-container {
    @include floaty-container();
    background-color: $animation-background;
    background: linear-gradient(180deg, rgba(19,19,20,1) 0%, rgba(40,39,44,1) 75%);
    height: 100% !important;

    @media #{$phone} {
      padding-bottom: 70px;
    }

    .floaty-1 {
      @include floaty();
      animation: upwards-journey 45s linear infinite;
      box-shadow: $large-stars;
      height: 3px;
      width: 3px;
    }

    .floaty-2 {
      @include floaty();
      animation: upwards-journey 35s linear infinite;
      box-shadow: $medium-stars;
      height: 2px;
      width: 2px;
    }

    .floaty-3 {
      animation: upwards-journey 25s linear infinite;
      box-shadow: $small-stars;
      height: 1px;
      width: 1px;
    }
  }

  .tabs {
    width: 100%;

    .tabs-navigation {
      @media #{$phone} {
        margin-bottom: -50px;
      }

      button {
        font-size: 1.2em;
      }

      .tabs-tab {
        @media #{$phone} {
          margin: 0 15px;
          padding: 0;
        }
      }
    }

    .tabs-content {
      color: $white;
      font-size: 1.75em;

      .skills-container {
        .skills-container-skill {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          .skills-container-skill-name-logo {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 40%;
          }

          .skills-container-skill-name {
            font-size: 0.7em;
            margin: 0 50px;
          }

          .skills-container-skill-logo {
            margin-bottom: 15px;

            img {
              width: 40%;
              max-height: 350px;
            }
          }

          .skills-container-skill-rating {
            width: 60%;
          }
        }
      }
    }
  }

  .stars {
    color: $golden;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    justify-content: center;
    letter-spacing: 15px;

    @media #{$phone} {
      font-size: 1em;
    }

    @media #{$tablet} {
      font-size: 1.2em;
    }

    .avoid-wrap {
      white-space: nowrap;
    }
  }
}