.Education {
  @media #{$phone}, #{$tablet} {
    margin-top: 20px;
  }

  .Education__Qualification-Container {
    flex-direction: column;

    .Education__Qualification-Container__Logo {
      height: 70%;

      @media #{$letterbox} {
        height: 100%;
      }

      img {
        height: 90%;

        @media #{$letterbox} {
          height: 100%;
        }
      }
    }

    .Education__Qualification-Container__Text {
      height: 30%;

      @media #{$letterbox} {
        background-color: red;
        display: none;
      }
    }
  }
}