.education {
  @media #{$phone}, #{$tablet} {
    margin-top: 80px;
  }

  .education-qualification-container {
    flex-direction: column;

    .education-qualification-container-logo {
      height: 70%;

      img {
        height: 90%;
      }
    }

    .education-qualification-container-text {
      height: 30%;
    }
  }
}