$grid-colour: #c7c7c7;

@mixin measurement {
  position: absolute;

  color: $grid-colour;
  font-size: 10px;
}

@mixin margin {
  display: flex;
  flex-direction: row;
}

@mixin grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$phone} {
    flex-direction: column;
    flex-wrap: inherit;
  }
}

.dev-grid {
  @include grid;

  height: 100vh;
  height: var(--app-height);
  width: 100vw;
}

.dev-grid-half {
  @include grid;

  height: 50vh;
  width: 100vw;

  @media #{$phone} {
    height: 100vh;
    height: var(--app-height);
  }
}

@mixin cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  text-align: center;
  vertical-align: middle;
}

.dev-grid-cell {
  @include cell;
  height: 50vh;
  width: 50vw;

  overflow: hidden;

  @media #{$phone} {
    height: 100vh;
    height: var(--app-height);
    width: 100vw;
  }
}

.dev-grid-cell-three-quarters-height {
  @include cell;
  height: 75vh;
  width: 100vw;
}

.dev-grid-cell-one-quarter-height {
  @include cell;
  height: 25vh;
  width: 100vw;
}
