$grid-colour: #c7c7c7;

@mixin measurement {
  position: absolute;

  color: $grid-colour;
  font-size: 10px;
}

@mixin margin {
  display: flex;
  flex-direction: row;
}

@mixin grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$phone} {
    flex-direction: column;
    flex-wrap: inherit;
  }
}

.dev-grid {
  @include grid;

  height: 100vh;
  width: 100vw;
}

.dev-grid-half {
  @include grid;

  height: 50vh;
  width: 100vw;

  @media #{$phone} {
    height: 100vh;
  }
}

@mixin cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  text-align: center;
  vertical-align: middle;

  background-image: repeating-linear-gradient(-16deg, $grid-colour, $grid-colour 16px, transparent 16px, transparent 36px, $grid-colour 36px), repeating-linear-gradient(74deg, $grid-colour, $grid-colour 16px, transparent 16px, transparent 36px, $grid-colour 36px), repeating-linear-gradient(164deg, $grid-colour, $grid-colour 16px, transparent 16px, transparent 36px, $grid-colour 36px), repeating-linear-gradient(254deg, $grid-colour, $grid-colour 16px, transparent 16px, transparent 36px, $grid-colour 36px);
  background-size: 0px 100%, 100% 0px, 1px 110% , 110% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;


  .dev-grid-measurement-right {
    @include measurement;
    right: -10px;
    transform: rotate(270deg);
  }

  .dev-grid-measurement-left {
    @include measurement;
    left: -10px;
    transform: rotate(90deg);
  }

  .dev-grid-measurement-bottom {
    @include measurement;
    bottom: 5px;
  }

  .dev-grid-measurement-top {
    @include measurement;
    top: 5px;
    transform: rotate(180deg);
  }

  .dev-grid-margin-top-left-corner-left {
    @include measurement;
    @include margin;
  }

  .dev-grid-margin-bottom-left-corner-down {
    @include measurement;
    @include margin;
    transform: rotate(90deg);
  }

  .dev-grid-margin-center-up {
    @include measurement;
    @include margin;
    transform: rotate(270deg);
  }

  .dev-grid-margin-between {
    @include measurement;
    @include margin;
  }

  .dev-grid-measurement-right::after, .dev-grid-measurement-right::before,
  .dev-grid-measurement-left::after, .dev-grid-measurement-left::before,
  .dev-grid-measurement-top::after, .dev-grid-measurement-top::before,
  .dev-grid-measurement-bottom::after, .dev-grid-measurement-bottom::before {
    content: '—';
    opacity: 0.5;
  }

  .dev-grid-margin-top-left-corner-left:after, .dev-grid-margin-top-left-corner-left:before,
  .dev-grid-margin-bottom-left-corner-down:after, .dev-grid-margin-bottom-left-corner-down:before,
  .dev-grid-margin-center-up:after, .dev-grid-margin-center-up:before,
  .dev-grid-margin-between:after, .dev-grid-margin-between:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid $grid-colour;
    margin: auto;
    opacity: 0.5;
  }
}

.dev-grid-cell {
  @include cell;
  height: 50vh;
  width: 50vw;

  @media #{$phone} {
    height: 100vh;
    width: 100vw;
  }
}

.dev-grid-cell-three-quarters-height {
  @include cell;
  height: 75vh;
  width: 100vw;
}

.dev-grid-cell-one-quarter-height {
  @include cell;
  height: 25vh;
  width: 100vw;
}
