@phone: ~"only screen and (max-width: 600px)";
@tablet: ~"screen and (min-width: 601px) and (max-width: 800px)";

@import "app/App.less";
@import "contact/Contact.less";
@import "education/Education.less";
@import "experience/Experience.less";
@import "landing/Landing.less";
@import "location/Location.less";
@import "skills/Skills.less";
@import "styles/Common.less";
@import "styles/Mixins.less";
@import "tabs/Tabs.less";

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
}
