$letterbox: #{"screen and (max-height: 550px)"};
$phone: #{"only screen and (max-width: 600px)"};
$small-letterbox: #{"screen and (max-height: 350px)"};
$tablet: #{"screen and (min-width: 601px) and (max-width: 916px)"};

@import "styles/Mixins.scss";
@import "styles/Common.scss";

@import "devgrid/Devgrid.scss";
@import "floaty/Floaty.scss";
@import "tabs/Tabs.scss";
@import "tooltip/Tooltip.scss";

@import "app/App.scss";
@import "contact/Contact.scss";
@import "education/Education.scss";
@import "experience/Experience.scss";
@import "header/Header.scss";
@import "learning/Learning.scss";
@import "location/Location.scss";
@import "skills/Skills.scss";

body {
  margin: 0;
  padding: 0;
  font-family: gill-sans-nova, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
