@phone: ~"only screen and (max-width: 600px)";
@tablet: ~"screen and (min-width: 601px) and (max-width: 800px)";

@white: #ffffff;

@import "app/App.less";
@import "landing/Landing.less";
@import "location/Location.less";
@import "styles/Common.less";
@import "styles/Mixins.less";

body {
  margin: 0px 20px;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
}
